<div class="navbar sitef-wrap">
  <div class="container">
    <!--googleoff: index-->
    <div id="dd" class="dd-wrapper no-js langSelect" data-require="" data-triggeronchange="true">
      <span class="dd-firstOpText">English</span>
      <ul class="dropdown">
        <li>
          <a href="#lang_e" data-attr="E" data-altlink="//www.fifa.com">English</a>
        </li>
        <li>
          <a href="#lang_d" data-attr="D" data-altlink="//de.fifa.com">Deutsch</a>
        </li>
        <li>
          <a href="#lang_f" data-attr="F" data-altlink="//fr.fifa.com">Français</a>
        </li>
        <li>
          <a href="#lang_s" data-attr="S" data-altlink="//es.fifa.com">Español</a>
        </li>
        <li>
          <a href="#lang_p" data-attr="P" data-altlink="//pt.fifa.com">Português</a>
        </li>
        <li>
          <a href="#lang_a" data-attr="A" data-altlink="//ar.fifa.com">عربي</a>
        </li>
        <li>
          <a href="#lang_r" data-attr="R" data-altlink="//ru.fifa.com">Русский</a>
        </li>
        <li>
          <a href="#lang_j" data-attr="J" data-altlink="//jp.fifa.com">日本語</a>
        </li>
        <li>
          <a href="#lang_k" data-attr="K" data-altlink="//kr.fifa.com">한글</a>
        </li>
      </ul>
    </div>
    <!--googleon: index-->
    <ul class="nav navbar-nav">
      <li class="sitef-copyright">Copyright ©1994 - 2018 FIFA. All rights reserved</li>
      <li class="sitef-widgets sep-item">
        <a href="../../widgets/index.html">Widgets</a>
      </li>
      <li class="sitef-mobileapps sep-item">
        <a href="../../mobile/index.html">Mobile Apps</a>
      </li>
      <li class="sitef-platform sep-item hidden">
        <a href="#" data-target="#sitef-platform-gotomobile">Mobile Version</a>
      </li>
      <li class="sitef-contact sep-item">
        <a href="../../faq.html">Contact FIFA</a>
      </li>
      <li class="sitef-downloads sep-item">
        <a href="../../legal/downloads.html">Downloads</a>
      </li>
      <li class="sitef-privacy sep-item">
        <a href="../../legal/privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="sitef-tos">
        <a href="../../legal/terms-of-service.html">Terms of Service</a>
      </li>
    </ul>
    <ul class="social-channel-list">
      <li class="channel-item">
        <a class="footer-share-link" href="../../social-media/index.html">All Social Channels</a>
      </li>
      <li class="channel-item">
        <a href="https://twitter.com/FIFAcom" target="_blank" class="ico-24-twitter"> </a>
      </li>
      <li class="channel-item">
        <a href="https://www.facebook.com/fifa" target="_blank" class="ico-24-facebook"> </a>
      </li>
      <li class="channel-item">
        <a href="http://instagram.com/fifaworldcup" target="_blank" class="ico-24-instagram"> </a>
      </li>
      <li class="channel-item">
        <a href="https://www.youtube.com/FIFATV" target="_blank" class="ico-24-youtube"> </a>
      </li>
      <li class="channel-item">
        <a href="https://www.linkedin.com/company/fifa" target="_blank" class="ico-24-linkedin"> </a>
      </li>
    </ul>
  </div>
</div>