<!-- PRE FOOTER-->
<section class="section fi-pre-footer ">
  <div class="container-fluid">
    <div class="fi-footer-link">
      <!--SOCIAL-->
      <div class="fi-footer-link__social">
        <h4 class="fi-social-channels__title">
          Follow us on
        </h4>

        
      
        <ul class="fi-social-channels--svg">
          <li>
            <a class="fi-social-channels__fb--f" href="#">
              <svg class="fi-svg-icon fi-icon-facebook-noframe">
                <use xlink:href="#icon-facebook-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__tw--circle" href="#">
              <svg class="fi-svg-icon fi-icon-tw-noframe">
                <use xlink:href="#icon-tw-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__instagram" href="#">
              <svg class="fi-svg-icon fi-icon-instagram-noframe">
                <use xlink:href="#icon-instagram-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__youtube" href="#">
              <svg class="fi-svg-icon fi-icon-youtube-noframe">
                <use xlink:href="#icon-youtube-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__we--f" href="#">
              <svg class="fi-svg-icon fi-icon-weibo-noframe">
                <use xlink:href="#icon-weibo-noframe"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>




      <ul class="nav fi-fwc__pre-footer">
        <li>

          <a href="matches/index.html">
            Matches </a>
        </li>
        <li>

          <a href="teams/index-2.html">
            Teams </a>
        </li>
        <li>

          <a href="groups/index.html">
            Groups </a>
        </li>
        <li>

          <a href="destination/index-2.html">
            Destination </a>
        </li>
        <li>

          <a href="organisation/ticketing/index.html">
            Ticketing </a>
        </li>
      </ul>

      <!--SEARCH-->
      <div class="fi-search">
        <div class="form-group">
          <form method="get">
            <input name="q" maxlength="100" data-required="true" class="fi-search__text" title="Search" type="text" placeholder="Search on FIFA.com">
            <div class="fi-search__submit-wrap">
              <label>
                <input class="btn btn-primary fi-btn--submit" value="" type="submit">
                <svg class="fi-svg-icon icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>

              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="fi-site-footer hidden-print">
  <div class="container-fluid">
    <div class="row">
      <div class="fi-site-footer__copyright col-md-1 visible-md visible-lg">
        <svg class="fi-svg-icon fifa-icon">
          <use xlink:href="#fifa-icon"></use>
        </svg>
      </div>
      <div class="fi-site-footer__language col-xs-12 col-md-2">
        <div class="fi-footer__language dropup">
          <div class="dropdown fi-select-wrapper fi-select__languages" data-lang="en-GB">
            <!-- <button class="btn btn-select dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="fi-selected-item">English</span>
            </button> -->
            <!-- <ul class="dropdown-menu">
              <li [attr.data-value]="en-GB">
                <a>English</a>
              </li>
              <li [attr.data-value]="de-DE">
                <a>Deutsch</a>
              </li>
              <li [attr.data-value]="fr-FR">
                <a>Fran&#231;ais</a>
              </li>
              <li [attr.data-value]="es-ES">
                <a>Espa&#241;ol</a>
              </li>
              <li [attr.data-value]="ar-SA">
                <a>عربي</a>
              </li>
              <li [attr.data-value]="ru-RU">
                <a>Русский</a>
              </li>
            </ul> -->
            <select class="fi-select" style="display:block">
              <option value="en-GB" data-lang="EN">English</option>
              <option value="de-DE" data-lang="DE">Deutsch</option>
              <option value="fr-FR" data-lang="FR">Fran&#231;ais</option>
              <option value="es-ES" data-lang="ES">Espa&#241;ol</option>
              <option value="ar-SA" data-lang="AR">عربي</option>
              <option value="ru-RU" data-lang="RU">Русский</option>
            </select>
            <i class="fi-icon fi-icon-down"></i>


            <select class="select_languages" [ngModel]="selectedDevice" >
              <option [value]="en" >English</option>
              <option [value]="de" >Deutsch</option>
              <option [value]="fr" >Fran&#231;ais</option>
              <option [value]="es" >Espa&#241;ol</option>
              <option [value]="ar" >عربي</option>
              <option [value]="ru" >Русский</option>
            </select>
          </div>
        </div>
      </div>
      <div class="fi-site-footer__copyright col-xs-12 hidden-md hidden-lg">
        <i class="fi-icon fi-icon-logo"></i>
      </div>
      <div class="fi-site-footer__right col-xs-12 col-md-8">
        <div class="fi-site-footer__row1">
          <ul class="fi-footer-menu">
            <li>
              <a href="../../legal/terms-of-service.html">
                Terms of Service
              </a>
            </li>
            <li>
              <a href="../../legal/privacy-policy.html">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="../../legal/downloads.html">
                Downloads
              </a>
            </li>
            <li>
              <a href="../../faq.html">
                Contact FIFA
              </a>
            </li>
            <li>
              <a href="../../mobile/index.html">
                Mobile Apps
              </a>
            </li>
            <li>
              <a href="../../widgets/index.html">
                Widgets
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="fi-site-footer__row2 col-xs-12">
        <span>Copyright &#169;1994 - 2018 FIFA. All rights reserved</span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <h1 translate>Title</h1>

    <div>
      {{ 'HOME.HELLO' | translate:user }}
    </div>
    <button (click)="switchLanguage('en')">en</button>
    <button (click)="switchLanguage('fr')">fr</button>
  </div>
</footer>