<!-- PRE FOOTER-->
<section class="section fi-pre-footer ">
  <div class="container-fluid">
    <div class="fi-footer-link">
      <!--SOCIAL-->
      <div class="fi-footer-link__social">
        <h4 class="fi-social-channels__title">
          Follow us on
        </h4>

      
        <ul class="fi-social-channels--svg">
          <li>
            <a class="fi-social-channels__fb--f" href="#">
              <svg class="fi-svg-icon fi-icon-facebook-noframe">
                <use xlink:href="#icon-facebook-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__tw--circle" href="#">
              <svg class="fi-svg-icon fi-icon-tw-noframe">
                <use xlink:href="#icon-tw-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__instagram" href="#">
              <svg class="fi-svg-icon fi-icon-instagram-noframe">
                <use xlink:href="#icon-instagram-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__youtube" href="#">
              <svg class="fi-svg-icon fi-icon-youtube-noframe">
                <use xlink:href="#icon-youtube-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__we--f" href="#">
              <svg class="fi-svg-icon fi-icon-weibo-noframe">
                <use xlink:href="#icon-weibo-noframe"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>




      <ul class="nav fi-fwc__pre-footer">
        <li>
          <a href="/matches">
            {{'footer.navigationTop.matches' | translate}} 
          </a>
        </li>
        <li>
          <a href="/teams">
             {{'footer.navigationTop.teams' | translate}}
           </a>
        </li>
        <li>
          <a href="/groups">
           {{'footer.navigationTop.groups' | translate}}
          </a>
        </li>
        <li>
          <a href="/destination">
             {{'footer.navigationTop.destination' | translate}}
          </a>
        </li>
      </ul>

      <!--SEARCH-->
      <!-- <div class="fi-search">
        <div class="form-group">
          <form method="get">
            <input name="q" maxlength="100" data-required="true" class="fi-search__text" title="Search" type="text" placeholder="Search on FIFA.com">
            <div class="fi-search__submit-wrap">
              <label>
                <input class="btn btn-primary fi-btn--submit" value="" type="submit">
                <svg class="fi-svg-icon icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>

              </label>
            </div>
          </form>
        </div>
      </div> -->
    </div>
  </div>
</section>

<footer class="fi-site-footer hidden-print">
  <div class="container-fluid">
    <div class="row">
      <div class="fi-site-footer__right col-xs-12 col-md-12">
        <div class="fi-site-footer__row1">
          <ul class="fi-footer-menu">
            <li>
              <a href="#">
                 {{'footer.navigationBottom.termOfService' | translate}}
              </a>
            </li>
            <li>
              <a href="#">
                 {{'footer.navigationBottom.privacyPolicy' | translate}}
              </a>
            </li>
            <li>
              <a href="#">
                 {{'footer.navigationBottom.downloads' | translate}}
              </a>
            </li>
            <li>
              <a href="#">
               {{'footer.navigationBottom.contactFifa' | translate}}
              </a>
            </li>
            <li>
              <a href="#">
                 {{'footer.navigationBottom.mobileApps' | translate}}
              </a>
            </li>
            <li>
              <a href="#">
                 {{'footer.navigationBottom.widgets' | translate}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="fi-site-footer__row2 col-xs-12">
        <span>{{'footer.navigationBottom.copyright' | translate}}</span>
      </div>
    </div>
  </div>
  
</footer>