<!-- PRE FOOTER-->
<section class="section fi-pre-footer ">
  <div class="container-fluid">
    <div class="fi-footer-link">
      <!--SOCIAL-->
      <div class="fi-footer-link__social">
        <h4 class="fi-social-channels__title">
          Follow us on
        </h4>



        <ul class="fi-social-channels--svg">
          <li>
            <a class="fi-social-channels__fb--f" href="https://www.facebook.com/fifaworldcup">
              <svg class="fi-svg-icon fi-icon-facebook-noframe">
                <use xlink:href="#icon-facebook-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__tw--circle" href="https://twitter.com/FifaWorldCup">
              <svg class="fi-svg-icon fi-icon-tw-noframe">
                <use xlink:href="#icon-tw-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__instagram" href="https://www.instagram.com/fifaworldcup/">
              <svg class="fi-svg-icon fi-icon-instagram-noframe">
                <use xlink:href="#icon-instagram-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__youtube" href="https://www.youtube.com/FIFATV">
              <svg class="fi-svg-icon fi-icon-youtube-noframe">
                <use xlink:href="#icon-youtube-noframe"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="fi-social-channels__we--f" href="https://www.weibo.com/FIFAWorldCup?is_hot=1">
              <svg class="fi-svg-icon fi-icon-weibo-noframe">
                <use xlink:href="#icon-weibo-noframe"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>




      <ul class="nav fi-fwc__pre-footer">
        <li>

          <a href="matches/index.html">
            Matches </a>
        </li>
        <li>

          <a href="teams/index-2.html">
            Teams </a>
        </li>
        <li>

          <a href="groups/index.html">
            Groups </a>
        </li>
        <li>

          <a href="destination/index-2.html">
            Destination </a>
        </li>
        <li>

          <a href="organisation/ticketing/index.html">
            Ticketing </a>
        </li>
      </ul>

      <!--SEARCH-->
      <div class="fi-search">
        <div class="form-group">
          <form action="http://www.fifa.com/search/index" method="get">
            <input name="q" maxlength="100" data-required="true" class="fi-search__text" title="Search" type="text" placeholder="Search on FIFA.com">
            <div class="fi-search__submit-wrap">
              <label>
                <input class="btn btn-primary fi-btn--submit" value="" type="submit">
                <svg class="fi-svg-icon icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>

              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="fi-site-footer hidden-print">
  <div class="container-fluid">
    <div class="row">
      <div class="fi-site-footer__copyright col-md-1 visible-md visible-lg">
        <svg class="fi-svg-icon fifa-icon">
          <use xlink:href="#fifa-icon"></use>
        </svg>
      </div>
      <div class="fi-site-footer__language col-xs-12 col-md-2">
        <div class="fi-footer__language dropup">
          <div class="dropdown fi-select-wrapper fi-select__languages" data-lang="en-GB">
            <button class="btn btn-select dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="fi-selected-item"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-value="en-GB">
                <a href="http://en.fifa.com/">English</a>
              </li>
              <li data-value="de-DE">
                <a href="http://de.fifa.com/">Deutsch</a>
              </li>
              <li data-value="fr-FR">
                <a href="http://fr.fifa.com/">Fran&#231;ais</a>
              </li>
              <li data-value="es-ES">
                <a href="http://es.fifa.com/">Espa&#241;ol</a>
              </li>
              <li data-value="ar-SA">
                <a href="http://ar.fifa.com/">عربي</a>
              </li>
              <li data-value="ru-RU">
                <a href="http://ru.fifa.com/">Русский</a>
              </li>
            </ul>
            <select class="fi-select">
              <option value="en-GB" data-abbr="EN">English</option>
              <option value="de-DE" data-abbr="DE">Deutsch</option>
              <option value="fr-FR" data-abbr="FR">Fran&#231;ais</option>
              <option value="es-ES" data-abbr="ES">Espa&#241;ol</option>
              <option value="ar-SA" data-abbr="AR">عربي</option>
              <option value="ru-RU" data-abbr="RU">Русский</option>
            </select>
            <i class="fi-icon fi-icon-down"></i>
          </div>
        </div>
      </div>
      <div class="fi-site-footer__copyright col-xs-12 hidden-md hidden-lg">
        <i class="fi-icon fi-icon-logo"></i>
      </div>
      <div class="fi-site-footer__right col-xs-12 col-md-8">
        <div class="fi-site-footer__row1">
          <ul class="fi-footer-menu">
            <li>
              <a href="../../legal/terms-of-service.html">
                Terms of Service
              </a>
            </li>
            <li>
              <a href="../../legal/privacy-policy.html">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="../../legal/downloads.html">
                Downloads
              </a>
            </li>
            <li>
              <a href="../../faq.html">
                Contact FIFA
              </a>
            </li>
            <li>
              <a href="../../mobile/index.html">
                Mobile Apps
              </a>
            </li>
            <li>
              <a href="../../widgets/index.html">
                Widgets
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="fi-site-footer__row2 col-xs-12">
        <span>Copyright &#169;1994 - 2018 FIFA. All rights reserved</span>
      </div>
    </div>
  </div>
</footer>