<app-header></app-header>
<div id="content-wrap">
  <div class="container">
    <div class="page-share hidden-print">
      <div class="header-share">
        <div class="header-listchannel">
          <span class="header-share-title">Follow us on</span>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://twitter.com/fifaworldcup" target="_blank" class="ico-24-twitter-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/fifaworldcup" target="_blank" class="ico-24-facebook-g"> </a>
            </li>
            <li class="social-item">
              <a href="http://instagram.com/fifaworldcup" target="_blank" class="ico-24-instagram-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.youtube.com/FIFATV" target="_blank" class="ico-24-youtube-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/company/fifa" target="_blank" class="ico-24-linkedin-g"> </a>
            </li>
          </ul>
        </div>
        <div class="header-sharebtn">
          <div class="sharebtn-wrap">
            <a href="#" data-share-type="page">
              <span>Share</span>
            </a>
            <div class="share-toolbar hidden" data-orig-overflow="hidden" data-orig-overflow-x="hidden" data-orig-overflow-y="hidden"
              data-orientation="horizontal" style="width: 510px;">
              <div class="share-toolbar-wrap" style="width: 470px; left: 510px;">
                <ul>
                  <li class="facebook-share">
                    <div class="fb-share-button" data-href="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html?fb_ref=facebook_share"
                      data-type="button_count"></div>
                  </li>
                  <li class="twitter-share">
                    <a href="https://twitter.com/share" data-counturl="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html"
                      data-url="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html?cid=twitter_button"
                      class="twitter-share-button" data-count="horizontal" data-lang="en"></a>
                  </li>
                  <li class="google-share">
                    <div class="g-plusone" data-callback="gpluscb" data-annotation="bubble" data-size="medium" data-href="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html?cid=googleplus_button"></div>
                  </li>
                  <li class="mail-share">
                    <a href="mailto:?subject=Iwobi: I almost cried seeing my parents celebrate - FIFA.com&amp;body=http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html"></a>
                  </li>
                  <li class="print-share">
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-first">
      <span class="frwp-debug hidden">articleBodyFRWP</span>
      <span class="frwp-debug hidden">SeoTitle: iwobi-i-almost-cried-seeing-my-parents-celebrate</span>
      <span class="frwp-debug hidden">GetFRWPUrl _slug: iwobi-i-almost-cried-seeing-my-parents-celebrate</span>
      <span class="frwp-debug hidden">endpoint: http://embeden.fifa.com/news/iwobi-i-almost-cried-seeing-my-parents-celebrate?appview=true</span>
      <span class="frwp-debug hidden">_articleBodyFRWP.Length: 0</span>
      <span class="frwp-debug hidden">_articleBodyFRWP.Length atricle only: 11216</span>
      <div class="article-wrap default news">
        <!--2947009-->
        <article>
          <!--googleoff: index-->
          <div class="dcm-roofline">Russia 2018 </div>
          <!--googleon: index-->
          <header class="article-title">
            <h1 class="dcm-articletitle">Iwobi: I almost cried seeing my parents celebrate</h1>
            <!--googleoff: index-->
            <div class="article-credits">(FIFA.com)
              <time pubdate="03/05/2018 11:50:00" datetime="03/05/2018 11:50:00">03 May 2018</time>
            </div>
            <!--googleon: index-->
          </header>
          <section class="col-xs-12 article-container">
            <div class="article-top-content">
              <div class="col-xs-12 figure i-wrap ">
                <img style="width: 100%" alt="Nigeria's Alex Iwobi" title="Nigeria's Alex Iwobi" src="//img.fifa.com/image/upload/t_l4/snxlr7ikc6pzzc2q1oeo.jpg"
                  class="i-lnd-8" ph-data-picture-index="1" ph-data-picture-id="2947009" ph-data-picture-copyright="FIFA.com"
                  ph-data-picture-title="Iwobi: I almost cried seeing my parents celebrate" ph-data-picture-date="Thursday, 3 May 2018"
                  ph-data-picture-comment="<p>Alex Iwobi has discussed the “crazy” feeling of sending Nigeria to the FIFA World Cup, seeing his parents jump for joy and his confidence he can shine in Russia.</p>
    " ph-data-picture-orientation="portrait" ph-data-picture-url="//img.fifa.com/image/upload/t_p3/snxlr7ikc6pzzc2q1oeo.jpg"
                  ph-data-picture-sizewidth="" ph-data-picture-sizeheight="">
                <span class="dcm-icoFrame dcm-ico-news">
                  <span class="dcm-ico"> </span>
                </span>
              </div>
              <div class="credits">© Getty Images </div>
            </div>
            <div class="article-sidebar">
              <div class="dcm-icons clearfix hidden-print" data-top="792" data-move-top="0" style="position: relative; top: 0px;">
                <ul>
                  <li>
                    <a href="#c_comments_2947009" class="icon-comments">
                      <span>0</span>
                    </a>
                  </li>
                  <li class="dcm-icons-share">
                    <div class="sharebtn-wrap">
                      <a href="#" class="article-share icon-share" data-share-type="article" data-share-orientation="vertical" data-fb-layout="box_count"
                        data-g-annotation="bubble" data-g-size="tall" data-twitter-count="vertical">
                      </a>
                      <div class="share-toolbar hidden" data-orig-overflow="hidden" data-orig-overflow-x="hidden" data-orig-overflow-y="hidden">
                        <div class="share-toolbar-wrap">
                          <ul>
                            <li class="facebook-share">
                              <div class="fb-share-button" data-href="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html?fb_ref=facebook_share"
                                data-type="box_count"></div>
                            </li>
                            <li class="twitter-share">
                              <a href="https://twitter.com/share" data-counturl="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html"
                                data-url="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html?cid=twitter_button"
                                class="twitter-share-button" data-count="vertical" data-lang="en"></a>
                            </li>
                            <li class="google-share">
                              <div class="g-plusone" data-callback="gpluscb" data-annotation="bubble" data-size="tall" data-href="http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html?cid=googleplus_button"></div>
                            </li>
                            <li class="mail-share">
                              <a href="mailto:?subject=Iwobi: I almost cried seeing my parents celebrate - FIFA.com&amp;body=http://www.fifa.com/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html"></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#" class="icon-print">
                      <span> </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="article-body" class="article-body">
              <div id="readspeaker_button1" data-require="readspeaker" class="read-speaker rs_skip rsbtn_fifa2014 rs_preserve rsexpanded rsstopped pre-expanded"
                data-loaded="true">
                <script language="javascript">
                if (!window.digitalData || !window.digitalData.page || !window.digitalData.page.attributes || !window.digitalData.page.pageInfo) {
                    window.digitalData = { page: { attributes: {}, pageInfo: {} } };
                  }</script>
                <script src="../../../assets/root_scripts/speaker/ReadSpeaker.js"
                  type="text/javascript"></script>
                <a rel="nofollow" class="rsbtn_play" accesskey="L" href="http://app.eu.readspeaker.com/cgi-bin/rsent?customerid=7389&amp;lang=en_uk&amp;voice=en_gb_amy&amp;readid=article-body&amp;url=http%3a%2f%2fwww.fifa.com%2fworldcup%2fnews%2fy%3d2018%2fm%3d5%2fnews%3diwobi-i-almost-cried-seeing-my-parents-celebrate.html"
                  title="Listen to this page using ReadSpeaker" data-rsevent-id="rs_53788" role="button">
                  <span class="rsbtn_left rsimg rspart">
                    <span class="rsbtn_text">
                      <span>
                        <i class="icon icon-listen-icon">&nbsp;</i>Listen</span>
                    </span>
                  </span>
                  <span class="rsbtn_right rsimg rsplay rspart">&nbsp;</span>
                </a>
              </div>
             
              <div id="article-body" class="article-body-frwp">
                <article class="d3-o-article fi-article container-fluid ">
                  <div class="row">
                    <div class="d3-o-article__body fi-article__body">
                      <div class="col-xs-12 d3-o-article__body-part--text fi-o-article__body-part--text ac_list-style">
                        <ul>
                          <li>
                            <strong>&#8203;Alex Iwobi ‘almost cried’ twice after sending Nigeria to Russia 2018</strong>
                          </li>
                          <li>
                            <strong>He couldn’t believe he’d achieved the feat at such a young age</strong>
                          </li>
                          <li>
                            <strong>The 21-year-old believes he will shine at the World Cup</strong>
                          </li>
                        </ul>

                      </div>
                      <div class="col-xs-12 d3-o-article__body-part--text fi-o-article__body-part--text ac_list-style">
                        <p>Alex Iwobi has discussed seeing his parents jump for joy when his goal booked
                          <a href="http://www.fifa.com/worldcup/teams/team=43876/news/index.html">Nigeria</a> a 2018 FIFA World Cup Russia™ trip and why he feels he will shine at the tournament.</p>

                        <p>In front of 80,000-plus spectators in Uyo – including his father Chuba and mother Patience, the sister
                          of
                          <a href="http://www.fifa.com/worldcup/news/y=2017/m=10/news=iwobi-following-in-uncle-jay-jay-s-footsteps-2911627.html">Jay-Jay Okocha</a> – the 21-year-old Arsenal attacker scored the 73rd-minute winner against Zambia
                          in October which sent the Super Eagles to a sixth World Cup from the last possible seven.</p>

                        <p>"It's difficult to describe, as the feeling was crazy,” Iwobi told the June edition of
                          <em>FourFourTwo</em> magazine. “I remember looking at the crowd and seeing my parents jumping – I almost
                          cried, it was emotional.</p>

                        <p>"I would never have guessed I'd do something like that so early in my career. I had dreams about
                          it, but the fact that my dreams came true – I can't put into words how I felt.</p>

                        <p>"After the game I went to the hotel and my mum and dad were both there. Just seeing them, I almost
                          burst into tears again."</p>

                      </div>
                      <div class="col-xs-12 d3-o-article__body-part--video fi-o-article__body-part--video ">
                        <div class="fi-video-container">
                          <iframe src="https://www.youtube.com/embed/YYJkKN3pi6E?feature=oembed" allowfullscreen=""></iframe>
                        </div>
                      </div>
                      <div class="col-xs-12 d3-o-article__body-part--text fi-o-article__body-part--text ac_list-style">
                        <p>Nigeria open their
                          <a href="http://www.fifa.com/worldcup/groups/group/275081/">Group D</a> campaign against Croatia on 16 June, before facing Iceland and Argentina. And Iwobi
                          is relishing the challenge.</p>

                        <p>"The fact I've been training with world-class players every day has given me a bit of experience,
                          so I'll know what to expect in Russia,” the 15-times-capped, four-goal international said. “The
                          intensity I train at with Arsenal is very high, so I'm preparing in a good way.</p>

                        <p>"It was always my dream as a kid, so I can't wait to be involved. I'm looking forward to the atmosphere
                          and wearing the colours of Nigeria. I feel like I can do well.”</p>

                        <p>Nigeria have lost all four of their World Cup encounter with Argentina by a one-goal margin – most
                          recently when&nbsp;
                          <a href="https://www.youtube.com/watch?v=9-8_rM9WcS8">Lionel Messi headlined a thrilling clash</a> at Brazil 2014. However, the Super Eagles will be
                          buoyed by a 4-2 friendly victory over
                          <em>La Albiceleste</em> in October, with Iwobi nutmegging Javier Mascherano en route to a brace-completing
                          strike.
                        </p>

                      </div>
                      <div class="col-xs-12 d3-o-article__body-part--text fi-o-article__body-part--text ac_list-style">
                        <p>
                          <strong>FUN AND GAMES</strong>
                          <br>
                          <strong>
                            <a href="https://paninistickeralbum.fifa.com/launch">Panini</a>
                          </strong>
                          <br> Join millions of fellow fans sticking, swapping and sharing!</p>

                        <p>
                          <strong>
                            <a href="https://bracketchallenge.fifa.com/">FIFA World Cup Bracket Challenge</a>
                          </strong>
                          <br> Who will finish first, second, third and fourth in the groups? Who will win the knockout ties?
                          Challenge your friends and compete for some great prizes.</p>

                        <p>
                          <strong>
                            <a href="http://www.fifa.com/worldcup/news/y=2018/m=4/news=voting-now-open-you-decide-the-team-bus-slogans.html">Team bus slogans</a>
                          </strong>
                          <br> Each of Russia 2018’s 32 teams will have a slogan emblazoned on their team bus. You can vote for
                          the winners in the
                          <em>Be There with Hyundai Contest</em>.</p>

                      </div>
                    </div>

                    <div class="d3-o-article__related-items fi-article__related-items">



                      <div class="d3-o-article__related-items_stories fi-article__related-items_stories">
                        <div class="col-xs-12">
                          <h4 class="fi-article__related-items__title">Recommended Stories</h4>
                        </div>
                        <div class="fi-newslist fi-newslist--grid ">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="d3-o-media-object d3-o-media-object__horizontal-mt-to-vertical-d-template fi-o-media-object__horizontal-mt-to-vertical-d-template">
                              <figure class="d3-o-media-object__figure fi-o-media-object__figure">
                                <a href="/worldcup/news/onazi-nigeria-what-cannot-kill-makes-stronger" class="fi-o-media-object__link">

                                  <script src="/__CompiledAssets/js/vendor/lazysizes/lazysizes.min.js?_t=3150bf538edc0788afd7c673a0c5dfee" type="text/javascript"></script>
                                  <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source data-srcset="https://img.fifa.com/image/upload/t_l4/xx3ypdulnadinduqotcg.jpg" media="(min-width: 1200px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_l4/xx3ypdulnadinduqotcg.jpg" media="(min-width: 1024px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_s4/xx3ypdulnadinduqotcg.jpg" media="(min-width: 768px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_s4/xx3ypdulnadinduqotcg.jpg" media="(min-width: 320px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img data-src="https://img.fifa.com/image/upload/t_s4/xx3ypdulnadinduqotcg.jpg" onerror="setDefaultPicture(this,'t_l4', 't_l4', 't_s4', 't_s4');"
                                      class="img-responsive lazyload">
                                  </picture>

                                </a>
                              </figure>
                              <div class="d3-o-media-object__body fi-o-media-object__body">

                                <p class="d3-o-media-object__roofline fi-o-media-object__roofline">2018 FIFA World Cup™&nbsp;</p>
                                <a href="/worldcup/news/onazi-nigeria-what-cannot-kill-makes-stronger" target="_self" class="fi-o-media-object__link">
                                  <h3 class="d3-o-media-object__title fi-o-media-object__title">Onazi: What cannot kill you makes you stronger</h3>

                                </a>
                                <p class="d3-o-media-object__date fi-o-media-object__date">28 Mar 2018</p>


                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="d3-o-media-object d3-o-media-object__horizontal-mt-to-vertical-d-template fi-o-media-object__horizontal-mt-to-vertical-d-template">
                              <figure class="d3-o-media-object__figure fi-o-media-object__figure">
                                <a href="/worldcup/news/musa-nigeria-are-aiming-for-the-semis-2927012" class="fi-o-media-object__link">

                                  <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source data-srcset="https://img.fifa.com/image/upload/t_l4/k41lpszhgcbazzhipqlh.jpg" media="(min-width: 1200px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_l4/k41lpszhgcbazzhipqlh.jpg" media="(min-width: 1024px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_s4/k41lpszhgcbazzhipqlh.jpg" media="(min-width: 768px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_s4/k41lpszhgcbazzhipqlh.jpg" media="(min-width: 320px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img data-src="https://img.fifa.com/image/upload/t_s4/k41lpszhgcbazzhipqlh.jpg" onerror="setDefaultPicture(this,'t_l4', 't_l4', 't_s4', 't_s4');"
                                      class="img-responsive lazyload">
                                  </picture>

                                </a>
                              </figure>
                              <div class="d3-o-media-object__body fi-o-media-object__body">

                                <p class="d3-o-media-object__roofline fi-o-media-object__roofline">2018 FIFA World Cup™&nbsp;</p>
                                <a href="/worldcup/news/musa-nigeria-are-aiming-for-the-semis-2927012" target="_self" class="fi-o-media-object__link">
                                  <h3 class="d3-o-media-object__title fi-o-media-object__title">Musa: Nigeria are aiming for the semis</h3>

                                </a>
                                <p class="d3-o-media-object__date fi-o-media-object__date">26 Jan 2018</p>


                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="d3-o-media-object d3-o-media-object__horizontal-mt-to-vertical-d-template fi-o-media-object__horizontal-mt-to-vertical-d-template">
                              <figure class="d3-o-media-object__figure fi-o-media-object__figure">
                                <a href="/worldcup/videos/nigeria-2-3-argentina-brazil-2014" class="fi-o-media-object__link">

                                  <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source data-srcset="https://img.fifa.com/image/upload/t_l4/kdqxxxvndkar41kshzij.jpg" media="(min-width: 1200px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_l4/kdqxxxvndkar41kshzij.jpg" media="(min-width: 1024px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_s4/kdqxxxvndkar41kshzij.jpg" media="(min-width: 768px)">
                                    <source data-srcset="https://img.fifa.com/image/upload/t_s4/kdqxxxvndkar41kshzij.jpg" media="(min-width: 320px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img data-src="https://img.fifa.com/image/upload/t_s4/kdqxxxvndkar41kshzij.jpg" onerror="setDefaultPicture(this,'t_l4', 't_l4', 't_s4', 't_s4');"
                                      class="img-responsive lazyload">
                                  </picture>

                                  <span class="d3-o-media-object__kind d3-o-media-object-kind--bottom-end">
                                    <span class="d3-o-icon fi-icon-videos"></span>
                                  </span>
                                </a>
                              </figure>
                              <div class="d3-o-media-object__body fi-o-media-object__body">

                                <p class="d3-o-media-object__roofline fi-o-media-object__roofline">FIFA World Cup™</p>
                                <a href="/worldcup/videos/nigeria-2-3-argentina-brazil-2014" class="fi-o-media-object__link">
                                  <h3 class="d3-o-media-object__title fi-o-media-object__title">Nigeria 2-3 Argentina (Brazil 2014)</h3>

                                </a>
                                <p class="d3-o-media-object__date fi-o-media-object__date">21 Apr 2018</p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="clear-grid article-comments">
              <div id="c_comments_2947009" class="hidden-print commentmanager" data-resource="2947009" data-enabled="1" data-title="Iwobi: I almost cried seeing my parents celebrate">
                <div class="title-wrap">
                  <h3 class="title">Comments</h3>
                </div>
                <div class="facebookButton" style="display:none;">
                  <form method="post" action="https://umpweb.api.fifa.com/gui/SocialAuth/LoginWith" id="f_facebook_login">
                    <input type="hidden" value="PCA" name="client_id">
                    <input type="hidden" value="http://www.fifa.com/theclub/socialcontrol.htmx?current=current&amp;domain=http://www.fifa.com/&amp;action=sociallogin"
                      id="redirect_uri" name="redirect_uri">
                    <input type="hidden" value="FACEBOOK" name="provider">
                    <button id="siteh-button-fb-login" type="submit" class="btn btn-primary">
                      <img src="//img.fifa.com/images/layout/icons/f-icon-20.png">Sign in with Facebook </button>
                  </form>
                </div>
                <div class="mainReplyForm" style="display:none;"></div>
                <div class="mainLoginControl" style="">
                  <div class="loginToAddComment">Log-in to add your comment</div>
                  <div class="loginfifaButton">
                    <a href="/theclub/index.html?redirect=/worldcup/news/y=2018/m=5/news=iwobi-i-almost-cried-seeing-my-parents-celebrate.html#insertcomment">Log-in with FIFA.com account</a>
                  </div>
                </div>
                <div style="display:none;" class="c_noCommentsMsg">Be the first to comment</div>
                <div class="c_comments_cnt"></div>
                <div class="morecomments" style="display: none;">
                  <span class="btn-more">More Comments
                    <span>
                      <div></div>
                    </span>
                  </span>
                </div>
                <span class="c_noCommentsMsg">Be the first to comment</span>
              </div>
            </div>
          </section>

        </article>
      </div>

    </div>
    <div class="row row-last">
    </div>
  </div>
</div>
<app-footer-1></app-footer-1>
