<header class="fi-site-header fi-site-header--competition ">
  <div class="fi-site-header__top" data-asset="header-banner">
    <div class="container-fluid">
      <!--FIFA.com LOGO-->
      <div class="fi-site-brand">
        <a class="fi-site-brand__logo" href="/">
        </a>
      </div>

      <!--TOP HEADER-->
      <div class="fi-site-header__nav">

        <!--MAIN MENU-->
        <ul class="fi-icons-bar">

          <li class="fi-icons-bar__score">
            <a href="#" title="Live Scores">
              <svg class="fi-svg-icon icon-ball">
                <use xlink:href="#icon-ball"></use>
              </svg>

            </a>
          </li>
          <li class="fi-icons-bar__store">
            <a title="Store">
              <svg class="fi-svg-icon icon-basket">
                <use xlink:href="#icon-basket"></use>
              </svg>

            </a>
          </li>
          <li class="fi-icons-bar__login">
            <a href="#" data-dropdown="fi-site-header__dropdown__login" title="Login">
              <svg class="fi-svg-icon icon-login">
                <use xlink:href="#icon-login"></use>
              </svg>

            </a>
          </li>
          <li class="fi-icons-bar__lang">
            <a data-dropdown="fi-site-header__dropdown__lang">
              {{current_languages_header}}
            </a>
          </li>
          <li class="fi-icons-bar__search">
            <a href="#" data-dropdown="fi-site-header__dropdown__search" title="Search">
              <svg class="fi-svg-icon icon-search">
                <use xlink:href="#icon-search"></use>
              </svg>

            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--MAIN HEADER-->
  <div class="fi-site-header__main">
    <div class="container-fluid">
      <!--SOCIAL-->
    </div>
  </div>
  <!-- SIDE-MENU -->
  <div class="fi-site-header__dropdown-wrap">
    <div class="container-fluid">
      <span class="fi-site-header__dropdown__close hidden">
        <svg class="fi-svg-icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </span>

      <!-- LOGIN -->
      <div class="fi-site-header__dropdown__login fi-site-header__dropdown--vertical is-notlogged hidden">
        <div class="fi-login fi-login--not-logged" data-lang="">
          <div class="fi-login__theclub-logo__wrap">
            <img class="fi-login__theclub-logo" src="../../../assets/images/theClub.png" alt="The Club" />
          </div>
          <div class="fi-login__form">
            <p class="fi-login__desc">{{'login.text'|translate}}</p>
            <div class="fi-login__theclub form-group">
              <a id="fi-login-signin-link" href="https://account.fifa.com/5a7baeb7-e706-4830-ad9f-103eba126311/oauth2/v2.0/authorize?p=b2c_1a_fifa_signuporsignin&amp;client_Id=64e9afa8-c5c0-413d-882b-bc9e6a81e264&amp;nonce=defaultNonce&amp;prompt=login&amp;redirect_uri=https%3A%2F%2Fwww.fifa.com%2Ftheclub%2Ftools%2Fcomment%2F_ms_login_handler.htmx&amp;scope=openid%20offline_access&amp;response_type=code&amp;response_mode=form_post">
                <div class="fi-login__submit-wrap">
                  <input class="btn btn-primary fi-btn--submit" [value]="'login.title_login'|translate" type="submit">
                </div>
              </a>
            </div>
            <div class="fi-login__not-member form-group">
              <p class="fi-login__not-member__desc">{{'login.text_dont_have_acc'|translate}}</p>
              <div class="fi-login__submit-wrap">
                <input class="btn btn-primary-inverse fi-btn--submit" [value]="'login.sign_up_now'|translate" type="submit">
              </div>
            </div>
          </div>
        </div>
        <div class="fi-login fi-login--logged" data-lang="">
          <div class="fi-login__user">
            <img class="fi-login__avatar">
            <div class="fi-login__userinfo">
              <h4 class="fi-login__username">
                <a href="../theclub/profile/comments/index.html" target="_self">
                
                </a>
              </h4>
              <p class="fi-call__more">
                <a href="../theclub/profile/comments/index.html" target="_self" class="fi-o-media-object__link">
                  <svg class="fi-svg-icon icon-triangle">
                    <use xlink:href="#icon-triangle"></use>
                  </svg>
                  <span class="fi-o-media-object__more__label">Your comments</span>
                </a>
              </p>
            </div>
          </div>


          <div class="fi-login-out__theclub form-group" id="siteh-theclub-logout">
            <a id="fi-logout-signout-link" href="https://account.fifa.com/5a7baeb7-e706-4830-ad9f-103eba126311/oauth2/v2.0/logout?p=b2c_1a_fifa_passwordreset&amp;post_logout_redirect_uri=?rnd=">
              <div class="fi-login-out__submit-wrap">
                <span class="btn btn-primary fi-btn--submit">
                  Log out
                </span>
              </div>
            </a>
          </div>
        </div>
      
      </div>


      <!-- LANGUAGES -->
      <div class="fi-site-header__dropdown__lang fi-site-header__dropdown--vertical hidden">

        <ul class="nav nav-langs">
            <li *ngFor="let item of datalanguages" (click)="switchLanguage(item.short_code)">
              <a>{{item.name}}</a>
            </li>
        </ul>

      </div>
      <div class="fi-site-header__dropdown__search hidden">
        <div class="fi-search__wrap">
          <div class="fi-search">
            <div class="form-group">
              <form >
                <input name="q" maxlength="100" data-required="true" class="fi-search__text" title="Search" type="text" placeholder="{{'header.navigation.searchonfifa' | translate}}">
                <div class="fi-search__submit-wrap">
                  <label>
                    <input class="btn btn-primary fi-btn--submit" value="" type="submit">
                    <svg class="fi-svg-icon icon-search">
                      <use xlink:href="#icon-search"></use>
                    </svg>

                  </label>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</header>



<div class="fi-section-header fi-section-header__extended ">
  <div class="fi-section-header__wrap">

    <a href="/" class="fi-section-header__emblem" title="2018 FIFA World Cup Russia™">
      <img src="../../../assets/images/logo.png" class="fi-section-header__emblem__img emblem-workaround"
      />

    </a>
    <a href="/" class="fi-section-header__competition" title="2018 FIFA World Cup Russia™">
      <h1 class="fi-section-header__competition__title">{{'header.competition_title' | translate}}</h1>
      <p class="fi-section-header__competition__date"> {{'header.competition_date' | translate}}</p>
    </a>

    <div class="fi-section-header__social">


      <ul class="fi-social-channels--svg">
        <li>
          <a class="fi-social-channels__fb--f" href="https://www.facebook.com/fifaworldcup">
            <svg class="fi-svg-icon fi-icon-facebook-noframe">
              <use xlink:href="#icon-facebook-noframe"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="fi-social-channels__tw--circle" href="https://twitter.com/FifaWorldCup">
            <svg class="fi-svg-icon fi-icon-tw-noframe">
              <use xlink:href="#icon-tw-noframe"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="fi-social-channels__instagram" href="https://www.instagram.com/fifaworldcup/">
            <svg class="fi-svg-icon fi-icon-instagram-noframe">
              <use xlink:href="#icon-instagram-noframe"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="fi-social-channels__youtube" href="https://www.youtube.com/FIFATV">
            <svg class="fi-svg-icon fi-icon-youtube-noframe">
              <use xlink:href="#icon-youtube-noframe"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="fi-social-channels__we--f" href="https://www.weibo.com/FIFAWorldCup?is_hot=1">
            <svg class="fi-svg-icon fi-icon-weibo-noframe">
              <use xlink:href="#icon-weibo-noframe"></use>
            </svg>
          </a>
        </li>
      </ul>

    </div>


    <ul class="fi-section-header__nav">
      <li class="">

        <a href="/matches">{{'header.navigation.matches' | translate}}</a>
      </li>
      <li class="">

        <a href="/teams">{{'header.navigation.teams' | translate}}</a>
      </li>
      <li class="">

        <a href="/groups">{{'header.navigation.groups' | translate}}</a>
      </li>
      <li class="">

        <a href="/stadium">{{'header.navigation.stadiums' | translate}}</a>
      </li>
    
    </ul>
    <div class="fi-section-header__dropdown">
      <ul>
        <li>
          <a href="#" class="fi-site-toggle" data-dropdown="fi-section-header__dropdown__hamburger">
            <span class="fi-menu-toggle__inner"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="fi-section-header__dropdown-wrap">
    <div class="container-fluid">
      <span class="fi-section-header__dropdown__close hidden">
        <svg class="fi-svg-icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>

      </span>

      <div class="fi-section-header__dropdown__main fi-section-header__dropdown--vertical hidden">
        <div class="fi-section-header__dropdown__main-wrap">
          <div class="clearfix">
            <a href="/" class="fi-section-header__competition--mobile" title="2018 FIFA World Cup Russia™">
              <h1 class="fi-section-header__competition__title">{{'header.competition_title' | translate}}</h1>
              <div class="clearfix"></div>
            </a>
            <ul class="fi-section-header__dropdown__nav">
              <li class="news nav-media">

                <a href="/news">{{'header.navigation.news' | translate}}</a>
              </li>
              <li class="photos nav-media">

                <a href="/photos">{{'header.navigation.photos' | translate}}</a>
              </li>
              <li class="videos nav-media">

                <a href="/videos">{{'header.navigation.videos' | translate}}</a>
              </li>
              <li class="matches ">

                <a href="/matches">{{'header.navigation.matches' | translate}}</a>
              </li>
              <li class="teams ">

                <a href="/teams">{{'header.navigation.teams' | translate}}</a>
              </li>
              <li class="groups ">

                <a href="/groups">{{'header.navigation.groups' | translate}}</a>
              </li>
              <li class="destination ">

                <a href="/stadium">{{'header.navigation.stadiums' | translate}}</a>
              </li>
             
            
            </ul>
          </div>

          <div class="fi-search">
            <div class="form-group">
              <form action="http://www.fifa.com/search/index" method="get">
                <input name="q" maxlength="100" data-required="true" class="fi-search__text" title="Search" type="text" placeholder="{{'header.navigation.searchonfifa' | translate}}">
                <div class="fi-search__submit-wrap">
                  <label>
                    <input class="btn btn-primary fi-btn--submit" value="" type="submit">
                    <svg class="fi-svg-icon icon-search">
                      <use xlink:href="#icon-search"></use>
                    </svg>

                  </label>
                </div>
              </form>
            </div>
          </div>

          <div class="fi-section-header__social">


            <ul class="fi-social-channels--svg">
              <li>
                <a class="fi-social-channels__fb--f" href="https://www.facebook.com/fifaworldcup">
                  <svg class="fi-svg-icon fi-icon-facebook-noframe">
                    <use xlink:href="#icon-facebook-noframe"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="fi-social-channels__tw--circle" href="https://twitter.com/FifaWorldCup">
                  <svg class="fi-svg-icon fi-icon-tw-noframe">
                    <use xlink:href="#icon-tw-noframe"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="fi-social-channels__instagram" href="https://www.instagram.com/fifaworldcup/">
                  <svg class="fi-svg-icon fi-icon-instagram-noframe">
                    <use xlink:href="#icon-instagram-noframe"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="fi-social-channels__youtube" href="https://www.youtube.com/FIFATV">
                  <svg class="fi-svg-icon fi-icon-youtube-noframe">
                    <use xlink:href="#icon-youtube-noframe"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="fi-social-channels__we--f" href="https://www.weibo.com/FIFAWorldCup?is_hot=1">
                  <svg class="fi-svg-icon fi-icon-weibo-noframe">
                    <use xlink:href="#icon-weibo-noframe"></use>
                  </svg>
                </a>
              </li>
            </ul>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>