/*src: /trunk/css/internal/skin/fwc/2018/commonBlocks/section-header-resp/aggregator/section-header-resp.d.min.css*/

.mu-i-cupname {
    display: none;
    visibility: hidden
}

.matchlist-header ul li a .matchday-item .match-dot-container.matches-4 {
    padding: 6px
}

.article-thirdrailcontent .stadium-info .list-info li.info {
    height: auto
}

.disc-height {
    line-height: 40px
}

.competitions-stats-main-data.qualifiers-overview .comp-single-stat .num-before,
.competitions-stats-main-data.qualifiers-overview .comp-single-stat .num-after {
    width: 120px
}

.table.tbl-standings .tbl-light.tbl-isqualified>span {
    background-color: none
}

.table.tbl-standings .tbl-light.tbl-isqualified>span[data-value="1"] {
    background-color: #70ca72
}

.page-brand.sponsor-main.fwc2018-visa,
.page-brand.sponsor-detail.fwc2018-visa {
    margin: 0 0 25px 0
}

.page-brand.sponsor-main.fwc2018-visa .header-wrap.fwc2018-visa,
.page-brand.sponsor-detail.fwc2018-visa .header-wrap.fwc2018-visa {
    background-color: #1a1f71
}

.page-brand.sponsor-main.fwc2018-visa .header-wrap.fwc2018-visa.small,
.page-brand.sponsor-detail.fwc2018-visa .header-wrap.fwc2018-visa.small {
    height: 45px
}

.page-brand.sponsor-main.fwc2018-visa .header-wrap.fwc2018-visa.small h1.title,
.page-brand.sponsor-detail.fwc2018-visa .header-wrap.fwc2018-visa.small h1.title {
    line-height: 45px
}

.page-brand.sponsor-main.fwc2018-visa .header-wrap.fwc2018-visa .sponsor-wrap,
.page-brand.sponsor-detail.fwc2018-visa .header-wrap.fwc2018-visa .sponsor-wrap {
    background-color: #1a1f71
}

.fwc-loc .p.detail.p-i-prt-2 {
    margin-bottom: 20px;
    min-height: 197px
}

.fwc-loc .p.detail.p-i-prt-2 .figure {
    float: left;
    margin-right: 20px
}

.fwc-loc .p.detail.p-i-prt-2 .info {
    min-height: 197pz;
    position: relative
}

.fwc-loc .p.detail.p-i-prt-2 .infopl_column1 li {
    margin: 5px 0
}

.fwc-loc .p.detail.p-i-prt-2 .infopl_column1 li.p-team {
    display: none
}

span.loc {
    display: inline-block;
    font-size: 1.1em
}

span.loc.desktop-margin {
    margin-top: 10px
}

span.loc.mobile-margin {
    margin: 10px
}

.climate-action.climate-action-thankyou .header-sharebtn {
    font-size: 26px
}

.climate-action.climate-action-thankyou .header-share {
    display: none !important;
    visibility: hidden !important
}

.ru .sitef-wrap .navbar-nav>li a {
    letter-spacing: -0.5px
}

#content-wrap {
    background-image: url("../images/bg.jpg");
    background-color: #fff;
    background-repeat: repeat-x;
    background-position: center 0
}

#content-wrap .container .page-share .header-share {
    background-image: url("../images/bg.jpg");
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: -767px -11px
}

.navbar-sectionheader .title-wrap {
    background-image: url("../images/header.en.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 120px center;
    background-color: transparent
}

.navbar-sectionheader h1 {
    background-image: url("../images/artwork.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 0
}

.navbar-sectionheader h1 a {
    background-image: url("../images/2018.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left 0;
    text-indent: -9999px
}

.navbar-sectionheader h1 a .trn-date {
    text-indent: 0
}

.navbar-sectionheader.no-edt-menu .title-wrap h1 {
    background-image: url("../images/artwork_no_menu.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 0
}

.navbar-default .navbar-sticky .navbar-nav>li a.active {
    background-color: #2a466e;
    color: #fff;
    *zoom: expression(runtimeStyle.zoom=1, insertBefore(document.createElement('small'), firstChild).className='before')
}

.navbar-default .navbar-sticky .navbar-nav>li a.active:before,
.navbar-default .navbar-sticky .navbar-nav>li a.active>.before {
    color: #fff;
    border-color: #2a466e transparent \9;
    border-color: #2a466e rgba(42, 70, 110, 0);
    border-style: solid;
    border-width: 0 0 40px 14px;
    position: absolute;
    top: 0;
    width: 0;
    content: "";
    left: -14px
}

#siteh-sticky-subpanel.siteh-subpanel>.container {
    width: 1028px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 274px;
    height: auto !important;
    height: 274px;
    position: relative
}

#siteh-sticky-subpanel.siteh-subpanel .header-wrap {
    margin: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 72px;
    left: 20px
}

#siteh-sticky-subpanel.siteh-subpanel .header-wrap .title-wrap {
    padding: 0
}

#siteh-sticky-subpanel.siteh-subpanel .header-wrap .title-wrap .title {
    line-height: none
}

#siteh-sticky-subpanel.siteh-subpanel .header-wrap .title-wrap .title a {
    padding: 0;
    width: 100px;
    height: 100px;
    background-image: url("../images/2018.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left 0
}

#siteh-sticky-subpanel.siteh-subpanel .header-wrap .title-wrap .title a:before {
    content: ""
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap {
    float: left;
    margin-left: 232px;
    margin-top: 48px
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap .nav>li {
    float: none;
    width: 206px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap .nav>li>a {
    color: #5cace5;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: block;
    padding-left: 20px
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap .nav>li>a:before {
    left: 0
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap .nav>li>a:hover {
    color: #fff;
    background-color: transparent
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap+.nav-wrap {
    margin-left: 0
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap+.nav-wrap .nav {
    float: left
}

#siteh-sticky-subpanel.siteh-subpanel .nav-wrap+.nav-wrap .nav>li>a {
    padding-left: 0
}

.trn-countdown.fwc,
.countDownHublot.fwc {
    margin-top: 58px
}

.hp-destination-row .qlink-list {
    top: -20px
}

.d-home-win {
    color: #2e2e2e
}

.team-qualifiedteams div.team .team-name {
    margin-left: 10px
}

.qualifiers-bignumbers .label-name,
.qualifiers-bignumbers .courtesy-text {
    text-transform: uppercase;
    padding: 4px 0 6px
}

.qualifiers-bignumbers .label-name .text,
.qualifiers-bignumbers .courtesy-text .text {
    font-weight: bold
}

.qualifiers-bignumbers .table {
    border: none;
    margin-top: -4px
}

.qualifiers-bignumbers .table tr td {
    border: none;
    color: #2e2e2e
}

.qualifiers-bignumbers .table tr .label {
    font-size: 21px;
    line-height: 1;
    height: 50px;
    font-weight: 200;
    text-align: left;
    color: #2e2e2e;
    padding-left: 6px
}

.qualifiers-bignumbers .table tr .num {
    font-size: 28px;
    line-height: 1;
    text-align: left;
    font-weight: 200;
    min-width: 80px
}

.qualifiers-bignumbers .table tr td+td span {
    color: #2e2e2e;
    font-weight: 200;
    display: block
}

.qualifiers-bignumbers .table tr td+td span+span {
    font-size: 11px;
    line-height: 19px;
    color: #999
}

.preliminaryteaser .dcm-roofline {
    text-transform: none;
    font-size: 36px;
    line-height: 1.54;
    font-weight: 200
}

.preliminaryteaser .dcm-list.teaser-lnd-4.inline .dmc-teaser-content {
    margin-left: 0
}

.preliminaryteaser .header-wrap .title-wrap h4.title {
    color: #666;
    text-transform: uppercase;
    font-weight: 700
}

.preliminaryteaser .roadtohostcountry {
    height: auto
}

.ru .preliminaryteaser .header-wrap .title-wrap h1.title {
    font-size: 34px;
    letter-spacing: -1.5px
}

.round-list-wrap .qlink-link-single a {
    display: block
}

.round-list-wrap .simplelist {
    background-color: #f2f2f2;
    padding: 0 10px
}

.round-list-wrap .simplelist .qlink-list .qlink-link {
    display: block;
    padding: 0
}

.round-list-wrap .simplelist .qlink-list .qlink-link .item {
    text-transform: uppercase
}

.round-list-wrap .simplelist .qlink-link-single {
    text-align: left;
    padding: 10px 0
}

.round-list-wrap .round-list {
    text-align: left
}

.round-list-wrap .round-list>ul {
    padding: 0
}

.round-list-wrap .round-list>ul>li {
    padding: 8px 10px;
    border-bottom: 1px solid #d9d9d9
}

#preliminaries-matches-quicklink .inline-navigation .qlink-title {
    float: left;
    padding-top: 5px;
    text-align: right;
    min-width: 235px
}

#preliminaries-matches-quicklink .inline-navigation .qlink-link-single {
    text-align: center
}

#preliminaries-matches-quicklink .inline-navigation .qlink-link-single a:after,
#preliminaries-matches-quicklink .inline-navigation .qlink-link-single a>.after {
    content: none
}

#preliminaries-matches-quicklink .inline-navigation .nolink a {
    pointer-events: none;
    cursor: default;
    color: #666
}

.next-matches {
    right: 10px
}

.fwcq .dd-wrapper.default-dropdown.dd-months .dd-firstOpText {
    border-color: #0087e6
}

.fwcq .dd-wrapper.default-dropdown.dd-months li {
    padding: 0
}

.fwcq .dd-wrapper.default-dropdown.dd-months .dd-firstOpText {
    padding-left: 15px
}

.fwcq .dd-wrapper.default-dropdown.dd-months ul.dropdown {
    border-color: #0087e6;
    top: 44px
}

.fwcq .dd-wrapper .dropdown li a {
    -webkit-transition: none;
    transition: none
}

.fwcq #preliminaries-matches-quicklink {
    text-align: right
}

.fwcq #preliminaries-matches-quicklink li.qlink-link.last {
    margin-right: -10px
}

.fwcq #preliminaries-matches-quicklink .qlink-link-single {
    text-align: right
}

.fwcq #preliminaries-matches-quicklink>div:first-child {
    text-align: right
}

.fwcq #preliminaries-matches-quicklink .nolink a {
    pointer-events: none;
    cursor: default;
    color: #666
}

.footer-site-map .footer-site-map-col-wrapper .footer-site-map-col.cols-6 .footer-site-map-section {
    width: 148px
}

.climate-action.climate-action-thankyou .climate-action-share .header-share {
    display: inline !important;
    visibility: visible !important
}

.climate-action.climate-action-thankyou .share-toolbar-wrap {
    width: 460px !important
}

.climate-action.climate-action-thankyou .share-toolbar li.facebook-share {
    width: 90px;
    margin-top: -6px
}

.climate-action.climate-action-thankyou .share-toolbar li.twitter-share {
    width: 80px
}

.climate-action.climate-action-thankyou .share-toolbar li.google-share {
    width: 50px;
    height: 25px
}

.climate-action.climate-action-thankyou .share-toolbar li.mail-share {
    width: 40px
}

.navbar-sectionheader .nav-pills.lev1 li {
    background-color: #fff
}

.ru .navbar-sectionheader .container .lev2.items8>li>a {
    padding: 20px 33px
}

.fi-site-header--competition .fi-site-header__main {
    display: none
}

.fi-site-header--competition+.fi-section-header.navbar-fixed-top {
    margin-top: 0
}

.fi-section-header__emblem {
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 10px
}

.fi-section-header__emblem img {
    width: 50px;
    height: 50px
}

.fi-section-header__competition {
    min-height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 70px
}

.fi-section-header__competition__title {
    float: none;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px
}

.fi-section-header__competition__date {
    display: none;
    text-transform: uppercase
}

.fi-section-header__nav {
    margin-left: 70px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 24px
}

.fi-section-header__nav li {
    margin-right: 2%
}

.fi-section-header__nav a {
    color: #326295;
    text-transform: uppercase;
    font-size: 11px;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    backface-visibility: hidden;
    display: block;
    line-height: 16px
}

.fi-section-header__nav a:hover,
.fi-section-header__nav a:focus,
.fi-section-header__nav a.active {
    text-decoration: none;
    opacity: .6;
    filter: alpha(opacity=60)
}

.fi-section-header .fi-section-header__wrap .fi-section-header__social {
    display: none
}

@media (min-width:992px) {
    .fi-section-header__emblem img {
        width: 100px;
        height: 100px
    }
    .fi-section-header__competition {
        margin-left: 130px;
        min-height: 84px;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center
    }
    .fi-section-header__competition__title {
        line-height: .8;
        font-size: 32px
    }
    .fi-section-header__competition__date {
        display: block;
        font-size: 14px;
        color: #666
    }
    .fi-section-header__nav {
        height: 42px;
        align-items: center;
        margin-left: 130px
    }
    .fi-section-header__nav li+li {
        margin-left: 2%
    }
    .fi-section-header__nav a {
        font-size: 13px;
        font-style: normal;
        font-weight: 700
    }
    .fi-section-header .fi-section-header__wrap .fi-section-header__social {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 84px
    }
    .fi-section-header .fi-section-header__wrap .fi-section-header__social .fi-social-channels--svg {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        right: 15px
    }
    .fi-section-header .fi-section-header__wrap .fi-section-header__social .fi-social-channels--svg li,
    .fi-section-header .fi-section-header__wrap .fi-section-header__social .fi-social-channels--svg li a {
        width: 40px;
        height: 40px
    }
}

@media (min-width:1440px) {
    .fi-section-header .fi-section-header__wrap .fi-section-header__social .fi-social-channels--svg {
        right: 0
    }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .fi-section-header .fi-section-header__wrap .fi-section-header__social .fi-social-channels--svg {
        position: static;
        -ms-transform: none;
        margin-top: 30px
    }
    .fi-section-header__competition {
        display: table-cell;
        vertical-align: middle;
        padding-left: 130px
    }
}

.fi-menu-dropdown__vspace {
    padding-top: 15px;
    padding-bottom: 15px
}

.fi-menu-dropdown__vspace>a {
    padding: 0
}

.fi-section-header {
    position: relative;
    background-color: #fff
}

.fi-section-header__wrap {
    max-width: 1028px;
    min-width: auto;
    margin: 0 auto;
    position: relative
}

.fi-section-header__competition {
    color: #474747
}

.fi-section-header__competition:hover,
.fi-section-header__competition:active,
.fi-section-header__competition:focus {
    text-decoration: none
}

.fi-section-header__competition__title {
    color: #000;
    font-size: 42px;
    float: left
}

@media (min-width:992px) {
    .fi-section-header__competition__title {
        margin-top: 25px;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 200
    }
}

@media (max-width:992px) {
    .fi-section-header__competition__title {
        font-size: 16px
    }
}

.fi-section-header__nav {
    white-space: nowrap
}

.fi-section-header.navbar-fixed-top {
    position: fixed
}

.fi-section-header.navbar-fixed-top+.content-wrap {
    margin-top: 64px
}

.fi-section-header.navbar-fixed-top .fi-section-header__wrap .fi-section-header__social,
.fi-section-header.navbar-fixed-top .fi-section-header__wrap .fi-section-header__emblem,
.fi-section-header.navbar-fixed-top .fi-section-header__wrap .fi-section-header__competition__date,
.fi-section-header.navbar-fixed-top .fi-section-header__wrap .fi-section-header__nav {
    display: none
}

.fi-section-header.navbar-fixed-top .fi-section-header__wrap .fi-section-header__competition {
    margin-left: 0;
    min-height: 50px
}

.fi-section-header.navbar-fixed-top .fi-section-header__wrap .fi-section-header__dropdown {
    top: 4px
}

.fi-section-header.navbar-fixed-top:before {
    height: 50px
}

@media (max-width:992px - 1) {
    .fi-section-header.navbar-fixed-top__nav {
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .fi-section-header.navbar-fixed-top__nav li:last-child {
        padding-right: 2%
    }
}

@media (min-width:992px) {
    .fi-section-header.navbar-fixed-top.navbar-fixed-top {
        position: fixed
    }
    .fi-section-header.navbar-fixed-top.navbar-fixed-top+.content-wrap {
        margin-top: 126px
    }
}

.fi-section-header.fi-section-header__extended .fi-site-toggle {
    float: right
}

.fi-section-header__dropdown {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px
}

.fi-section-header__dropdown-wrap {
    width: 100%;
    position: absolute;
    top: -42px;
    left: 0;
    right: 0;
    z-index: 1030
}

.fi-section-header__dropdown-wrap.open {
    display: block
}

.fi-section-header__dropdown-wrap>div>div {
    padding-top: 50px;
    position: relative;
    z-index: 1
}

@media (max-width:767px) {
    .fi-section-header__dropdown-wrap>div>div {
        overflow-x: hidden;
        overflow-y: auto
    }
}

.fi-section-header__dropdown-wrap .fi-section-header__dropdown__close {
    z-index: 2
}

.fi-section-header__dropdown-wrap .fi-section-header__dropdown__nav li>a {
    color: #326295;
    -webkit-transition-property: #326295;
    transition-property: #326295;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    backface-visibility: hidden
}

.fi-section-header__dropdown-wrap .fi-section-header__dropdown__nav li>a:hover,
.fi-section-header__dropdown-wrap .fi-section-header__dropdown__nav li>a:focus,
.fi-section-header__dropdown-wrap .fi-section-header__dropdown__nav li>a.active {
    background-color: transparent;
    color: rgba(50, 98, 149, 0.5)
}

.fi-section-header__dropdown-wrap li {
    float: none
}

.fi-section-header__dropdown-wrap .fi-icon-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    padding: 17px
}

@media (max-width:991px) {
    .fi-section-header__dropdown-wrap .fi-icon-close {
        display: none
    }
}

.fi-section-header__dropdown-wrap [class*=" icon-"] {
    fill: #326295;
    width: 16px;
    height: 16px
}

.fi-section-header__dropdown-wrap>.container-fluid {
    position: relative;
    padding-left: 10px;
    padding-right: 10px
}

.fi-section-header__dropdown-wrap .fi-section-header__social {
    position: relative
}

.fi-section-header__dropdown-wrap .fi-social-channels--svg {
    justify-content: flex-end;
    display: flex;
    align-items: center
}

.fi-section-header__dropdown__main {
    padding: 50px 0
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav {
    padding-top: 40px
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav li a {
    padding: 10px 0;
    position: relative;
    display: block
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav li a:hover {
    text-decoration: none
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav li.nav-media {
    display: inline
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav li.nav-media a {
    padding: 5px 10px;
    display: inline
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav li.nav-media.videos a {
    padding-right: 0
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav li.nav-media+li {
    padding-top: 20px
}

.fi-section-header__dropdown__main .fi-section-header__dropdown__nav li.nav-media+li.nav-media {
    padding-top: 0;
    border-left: 1px solid #326295 solid transparent
}

.fi-section-header__dropdown__main .fi-main-menu {
    margin: 0;
    font-size: 16px;
    float: none
}

@media (max-width:767px) {
    .fi-section-header__dropdown__main .fi-main-menu>li+li {
        border-top: 1px solid rgba(255, 255, 255, 0.15)
    }
}

.fi-section-dropdown-open {
    overflow: hidden
}

.fi-section-dropdown-open .fi-section-header__dropdown-wrap {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%
}

.fi-section-dropdown-open .fi-section-header__dropdown-wrap:before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(255, 255, 255, 0.7);
    z-index: -1
}

@media (max-width:768px - 1) {
    .fi-section-dropdown-open .fi-section-header__dropdown-wrap {
        overflow-y: auto
    }
}

.fi-section-dropdown-open .fi-section-header__extended {
    height: 100%;
    background-color: transparent;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 42px
}

.fi-section-dropdown-open .fi-section-header__extended.navbar-fixed-top {
    top: 0
}

.fi-section-dropdown-open .fi-section-header__extended.navbar-fixed-top .fi-section-header__dropdown-wrap {
    top: 0
}

.fi-section-header__dropdown--vertical {
    text-align: right;
    position: relative
}

@media (max-width:991px) {
    .fi-section-header__dropdown--vertical {
        padding-right: 0
    }
}

@media (min-width:768px) {
    .fi-section-header__dropdown--vertical {
        float: right;
        padding-left: 15px;
        margin-right: 0;
        width: 350px;
        background-color: #fff;
        height: 100%
    }
    .fi-section-header__dropdown--vertical:before {
        position: absolute;
        width: 1000%;
        height: 100%;
        content: "";
        background: #fff;
        left: 0;
        top: 0;
        z-index: -2
    }
}

.fi-section-header__dropdown__close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #326295;
    font-size: 13px;
    text-transform: uppercase;
    padding: 25px;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center
}

.fi-section-header__dropdown__close .icon-close {
    width: 14px !important;
    height: 14px !important;
    margin: 0 0 0 5px !important
}

.fi-section-header__dropdown__close:hover {
    text-decoration: none;
    color: #326295
}

@media (max-width:767px) {
    .fi-section-header__dropdown-wrap {
        background-color: #fff
    }
    .fi-section-dropdown-open .content-wrap {
        display: none
    }
    .fi-section-header__competition--mobile {
        padding-top: 15px;
        display: block
    }
    .fi-section-header__competition--mobile .fi-section-header__competition__title {
        color: #2e2e2e
    }
}

@media (max-width:992px - 1) {
    .fi-section-dropdown-open .navbar-fixed-top .fi-section-header__dropdown-wrap {
        height: 100%
    }
    .fi-section-header__dropdown__main-wrap {
        padding-right: 20px
    }
}

@media (min-width:768px) {
    .fi-section-dropdown-open .fi-section-header__dropdown-wrap {
        height: calc(150%)
    }
    .fi-section-dropdown-open .fi-section-header__dropdown-wrap .container-fluid {
        height: 100%
    }
    .fi-section-dropdown-open .fi-section-header__dropdown-wrap .container-fluid .fi-section-header__dropdown__main-wrap {
        overflow-y: auto;
        height: 100%;
        padding-right: 20px
    }
}

@media (min-width:992px) {
    .fi-section-header__dropdown-wrap {
        width: 100%
    }
    .fi-section-header__dropdown {
        top: auto;
        bottom: 0;
        padding: 10px 15px
    }
    .fi-section-header__competition--mobile {
        display: none
    }
}

@media (min-width:1200px) {
    .fi-section-header__dropdown {
        padding: 10px 0
    }
}

.ru .fi-site-header__top .navbar-brand {
    background-image: url("../images/fifacom-logo.ru.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left -5px
}

.ru .fi-section-header:not(.navbar-fixed-top) .fi-section-header__competition__title {
    max-width: 625px;
    padding-top: 20px
}

.navbar-groupslistheader.navbar-fixed-top,
.navbar-matchlistheader.navbar-fixed-top {
    top: 50px
}

.fi-site-header__top a.fi-site-toggle {
    display: none !important;
    visibility: hidden !important
}

.fi-site-header {
    width: 100% !important
}

.fi-site-header .fi-site-header__top {
    background-color: #fff;
    color: #326295
}

.fi-site-header__nav [class*="fi-icons-bar__"] a {
    color: #326295 !important
}

.fi-site-header__nav [class*="fi-icons-bar__"] a .fi-svg-icon {
    fill: #326295 !important
}

@media (min-width:992px) {
    .fi-section-header__competition__title {
        margin: 0;
        font-size: 32px
    }
}

.fi-fifacom-logo--1,
.fi-fifacom-logo--3 {
    fill: #326295 !important
}

.header-share .header-listchannel {
    display: none !important;
    visibility: hidden !important
}

.fi-section-header {
    background-color: #0f4583
}

.fi-section-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 64px;
    background-image: url("../images/fwc_darkbluebg.png");
    background-color: repeat;
    background-repeat: #0f4583;
    background-position: 0 0
}

.fi-section-header__emblem img {
    display: none
}

.fi-section-header__emblem img.emblem-workaround {
    display: block
}

.fi-section-header__competition__title {
    font-family: 'dusha_plusregular';
    color: #fff
}

.fi-section-header__competition__date {
    color: #fff
}

.fi-section-header__nav a {
    color: #fff
}

.fi-section-header .fi-section-header__wrap .fi-social-channels--svg li a {
    background-color: transparent;
    color: #fff;
    fill: #fff;
    border-color: #fff
}

.fi-section-header .fi-section-header__wrap .fi-social-channels--svg li a:hover,
.fi-section-header .fi-section-header__wrap .fi-social-channels--svg li a:focus {
    background-color: #fff;
    color: #0f4583;
    fill: #0f4583;
    border-color: #0f4583
}

@media (min-width:992px) {
    .fi-section-header:before {
        height: 126px
    }
    .fi-section-header__competition {
        margin-right: 200px
    }
}

@media (min-width:1200px) {
    .fi-section-header {
        overflow: hidden
    }
    .fi-section-header:not(.navbar-fixed-top) .fi-section-header__wrap:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background-image: url("../images/header_left.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        height: 130px;
        width: 260px;
        left: -345px
    }
    .fi-section-header:not(.navbar-fixed-top) .fi-section-header__wrap:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background-image: url("../images/header_right.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 0;
        height: 130px;
        width: 130px;
        right: -295px
    }
    .fi-section-dropdown-open .fi-section-header {
        overflow: visible
    }
    .fi-section-dropdown-open .fi-section-header__wrap:after {
        display: none
    }
}

.fi-site-header {
    /* position: absolute !important; */
    top: 0
}

.fwc-matchpage .navbar-pageheader.navbar-fixed-top {
    top: 50px
}