<div class="fi-back-to-top" data-spy="affix" data-offset-top="60">
  <a>
    <i class="fi-icon fi-icon-up"></i>
  </a>
</div>
<footer class="fi-site-footer hidden-print">
  <div class="container-fluid">
    <div class="row">
      <div class="fi-site-footer__copyright col-md-1 visible-md visible-lg">
        <svg class="fi-svg-icon fifa-icon">
          <use xlink:href="#fifa-icon"></use>
        </svg>
      </div>
      <div class="fi-site-footer__language col-xs-12 col-md-2">
        <div class="fi-footer__language dropup">
          <div class="dropdown fi-select-wrapper fi-select__languages" data-lang="en-GB">
            <button class="btn btn-select dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="fi-selected-item"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-value="en-GB">
                <a href="http://en.fifa.com/">English</a>
              </li>
              <li data-value="de-DE">
                <a href="http://de.fifa.com/">Deutsch</a>
              </li>
              <li data-value="fr-FR">
                <a href="http://fr.fifa.com/">Fran&#231;ais</a>
              </li>
              <li data-value="es-ES">
                <a href="http://es.fifa.com/">Espa&#241;ol</a>
              </li>
              <li data-value="ar-SA">
                <a href="http://ar.fifa.com/">عربي</a>
              </li>
              <li data-value="ru-RU">
                <a href="http://ru.fifa.com/">Русский</a>
              </li>
            </ul>
            <select class="fi-select">
              <option value="en-GB" data-abbr="EN">English</option>
              <option value="de-DE" data-abbr="DE">Deutsch</option>
              <option value="fr-FR" data-abbr="FR">Fran&#231;ais</option>
              <option value="es-ES" data-abbr="ES">Espa&#241;ol</option>
              <option value="ar-SA" data-abbr="AR">عربي</option>
              <option value="ru-RU" data-abbr="RU">Русский</option>
            </select>
            <i class="fi-icon fi-icon-down"></i>
          </div>
        </div>
      </div>
      <div class="fi-site-footer__copyright col-xs-12 hidden-md hidden-lg">
        <i class="fi-icon fi-icon-logo"></i>
      </div>
      <div class="fi-site-footer__right col-xs-12 col-md-8">
        <div class="fi-site-footer__row1">
          <ul class="fi-footer-menu">
            <li>
              <a href="../../legal/terms-of-service.html">
                Terms of Service
              </a>
            </li>
            <li>
              <a href="../../legal/privacy-policy.html">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="../../legal/downloads.html">
                Downloads
              </a>
            </li>
            <li>
              <a href="../../faq.html">
                Contact FIFA
              </a>
            </li>
            <li>
              <a href="../../mobile/index.html">
                Mobile Apps
              </a>
            </li>
            <li>
              <a href="../../widgets/index.html">
                Widgets
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="fi-site-footer__row2 col-xs-12">
        <span>Copyright &#169;1994 - 2018 FIFA. All rights reserved</span>
      </div>
    </div>
  </div>
</footer>
<div id="fb-root"></div>