
<div id="content-wrap">
    <div class="container">
        <div class="page-share hidden-print">
            <div class="header-share">
                <div class="header-listchannel">
                    <span class="header-share-title">Follow us on</span>
                    <ul class="social-list">
                        <li class="social-item">
                            <a href="https://twitter.com/fifaworldcup" target="_blank" class="ico-24-twitter-g"> </a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.facebook.com/fifaworldcup" target="_blank" class="ico-24-facebook-g"> </a>
                        </li>
                        <li class="social-item">
                            <a href="http://instagram.com/fifaworldcup" target="_blank" class="ico-24-instagram-g"> </a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.youtube.com/FIFATV" target="_blank" class="ico-24-youtube-g"> </a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.linkedin.com/company/fifa" target="_blank" class="ico-24-linkedin-g"> </a>
                        </li>
                    </ul>
                </div>
                <div class="header-sharebtn">
                    <div class="sharebtn-wrap">
                        <a href="#" data-share-type="page">
                            <span>Share</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-wrap ">
            <div class="title-wrap">
                <h1 class="title">
                    <span>Photos</span>
                </h1>
            </div>
        </div>

        <!-- photo slider -->
        <div class="photos_carousel">
            <div class="slider-container">
                <div id="sliderTop" class="owl-carousel">
                    <div class="item" *ngFor="let item of list_data_photo_top">
                        <div class="photos">
                            <img [src]="item.photos.data[0].link[0]" alt="" />
                        </div>
                        <div class="description">
                            <h4 class="title">{{item.title}}</h4>
                            <p class="date">{{item.pubDate| amDateFormat:'LL'}}</p>
                            <p class="comment">{{item.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="arrow arrow-wrap_left">
                    <span class="icon-arrow"> </span>
                </div>
                <div class="arrow arrow-wrap_right">
                    <span class="icon-arrow"> </span>
                </div>
            </div>
            <div class="navigation-container">
                <div id="navigation" class="owl-carousel">
                    <div class="item" *ngFor="let item of list_data_photo_top">
                        <img [src]="item.photos.data[0].link[0]" alt="">
                    </div>
                    <div class="arrow navigate_left">
                        <span class="icon-arrow">
                            <i class="icon-angle-left"></i>
                        </span>
                    </div>
                    <div class="arrow navigate_right">
                        <span class="icon-arrow">
                            <i class="icon-angle-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="qlink-wrap">
            <ul class="qlink-list">
                <li class="qlink-link last">
                    <div class="qlink-link-wrap">
                        <a href="/worldcup/photos/all-photos.html">
                            <span class="item">All Photos</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
       
    </div>
</div>

<app-footer></app-footer>