<div class="navbar sitef-wrap ac-footer-2">
  <div class="container">
    <div class="row">
      <!--googleoff: index-->
      <div class="fi-site-footer__language col-xs-12 col-md-2">
        <div class="fi-footer__language dropup">
          <div class="dropdown fi-select-wrapper fi-select__languages" data-lang="en-GB">
            <button class="btn btn-select dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="fi-selected-item"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-value="en-GB">
                <a href="http://en.fifa.com/">English</a>
              </li>
              <li data-value="de-DE">
                <a href="http://de.fifa.com/">Deutsch</a>
              </li>
              <li data-value="fr-FR">
                <a href="http://fr.fifa.com/">Fran&#231;ais</a>
              </li>
              <li data-value="es-ES">
                <a href="http://es.fifa.com/">Espa&#241;ol</a>
              </li>
              <li data-value="ar-SA">
                <a href="http://ar.fifa.com/">عربي</a>
              </li>
              <li data-value="ru-RU">
                <a href="http://ru.fifa.com/">Русский</a>
              </li>
            </ul>
            <select class="fi-select">
              <option value="en-GB" data-abbr="EN">English</option>
              <option value="de-DE" data-abbr="DE">Deutsch</option>
              <option value="fr-FR" data-abbr="FR">Fran&#231;ais</option>
              <option value="es-ES" data-abbr="ES">Espa&#241;ol</option>
              <option value="ar-SA" data-abbr="AR">عربي</option>
              <option value="ru-RU" data-abbr="RU">Русский</option>
            </select>
            <i class="fi-icon fi-icon-down"></i>
          </div>
        </div>
      </div>
      <!--googleon: index-->
      <div class="col-md-10">
        <ul class="nav navbar-nav">
          <li class="sitef-widgets sep-item hidden">
            <a href="../../widgets/index.html">Widgets</a>
          </li>
          <li class="sitef-mobileapps sep-item">
            <a href="../../mobile/index.html">Widgets</a>
          </li>
          <li class="sitef-mobileapps sep-item">
            <a href="../../mobile/index.html">Mobile Apps</a>
          </li>
          <li class="sitef-platform sep-item hidden">
            <a href="#" data-target="#sitef-platform-gotomobile">Mobile Version</a>
          </li>
          <li class="sitef-contact sep-item">
            <a href="../../faq.html">Contact FIFA</a>
          </li>
          <li class="sitef-downloads sep-item">
            <a href="../../legal/downloads.html">Downloads</a>
          </li>
          <li class="sitef-privacy sep-item">
            <a href="../../legal/privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="sitef-tos">
            <a href="../../legal/terms-of-service.html">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mg-t-30">
      <div class="col-md-6 col-xs-12">
        <p class="sitef-copyright">Copyright ©1994 - 2018 FIFA. All rights reserved</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="social-channel-list">
          <li class="channel-item">
            <a class="footer-share-link" href="../../social-media/index.html">All Social Channels</a>
          </li>
          <li class="channel-item">
            <a href="https://twitter.com/FIFAcom" target="_blank" class="ico-24-twitter"> </a>
          </li>
          <li class="channel-item">
            <a href="https://www.facebook.com/fifa" target="_blank" class="ico-24-facebook"> </a>
          </li>
          <li class="channel-item">
            <a href="http://instagram.com/fifaworldcup" target="_blank" class="ico-24-instagram"> </a>
          </li>
          <li class="channel-item">
            <a href="https://www.youtube.com/FIFATV" target="_blank" class="ico-24-youtube"> </a>
          </li>
          <li class="channel-item">
            <a href="https://www.linkedin.com/company/fifa" target="_blank" class="ico-24-linkedin"> </a>
          </li>
          <div class="clearfix"></div>
        </ul>

      </div>
    </div>


  </div>
</div>