<app-header></app-header>
<div class="content-wrap fi-basic-template">
  <div class="fi-boxed-page">
    <h1 class="fi-page-title">News</h1>
    <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1">
      <defs>
        <symbol id="icon-triangle" viewBox="0 0 8.63 15.48" width="100%" height="100%">
          <path class="cls-1" d="M8.11,6.37,2.45.71a1.56,1.56,0,0,0-2-.48A.85.85,0,0,0,.06,1V14.6a.85.85,0,0,0,.41.73,1.56,1.56,0,0,0,2-.48L8.11,9.19A2,2,0,0,0,8.11,6.37Z"
            transform="translate(-0.06 -0.04)"></path>
        </symbol>
        ;
      </defs>
    </svg>
    <section class="section">
      <div class="container-fluid">
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="fi-newslist fi-newslist--grid fi-newslist--4-3-1" data-mobile="1" data-tablet="3" data-desktop="4" data-hasnext="true">
           
            <div class="col-xs-12 col-sm-4 col-md-3 col-flex" *ngFor="let item of data_news_link_string">
              <div class="d3-o-media-object d3-o-media-object--vertical fi-o-media-object--vertical">
                <figure class="d3-o-media-object__figure fi-o-media-object__figure">
                  <a href="https://www.fifa.com/worldcup/news/santos-names-preliminary-portugal-squad" class="fi-o-media-object__link">
                    <picture>
                      <img [src]="item.img_url" onerror="setDefaultPicture(this,'t_l5', 't_l5', 't_l5', 't_l4');"
                        class="img-responsive lazyloaded" src="https://img.fifa.com/image/upload/t_l4/wnem9cirdbfjxnvgtuwn.jpg">
                    </picture>
                  </a>
                </figure>
                <div class="d3-o-media-object__body fi-o-media-object__body">
                  <a href="/worldcup/news/santos-names-preliminary-portugal-squad" target="_self" class="fi-o-media-object__link">
                    <h3 class="d3-o-media-object__title fi-o-media-object__title">{{item.title}}</h3>
                  </a>
                  <p class="d3-o-media-object__date fi-o-media-object__date">15 May 2018</p>
                </div>
              </div>
            </div>
            <!-- <div class="adv-flex">
              <div id="gpt-fi-adv-inpage-45776d0c-ce35-4ec3-b1f9-91a9d3d46b5c" class="fi-adv-placeholder fi-adv-leaderboard" data-google-query-id="CObnxrbfidsCFcmfaAodni4NgA">
                <div id="google_ads_iframe_/8584/fifa.com/worldcup/news_0__container__" style="border: 0pt none;">
                  <iframe id="google_ads_iframe_/8584/fifa.com/worldcup/news_0" title="3rd party ad content" name="google_ads_iframe_/8584/fifa.com/worldcup/news_0"
                    width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"></iframe>
                </div>
              </div>
              <script>
                (function () {
                  if (window.gTag) { return; }
                  window.googletag = window.googletag || {};
                  googletag.cmd = window.googletag.cmd || [];

                  googletag.cmd.push(function () {
                    googletag.pubads().setTargeting('site', ['en']);
                  });
                  var DBClickKeyValues = document.location.pathname.match(/[^/]*=[^/|^\.]*/gi);
                  if (DBClickKeyValues != null) {
                    DBClickKeyValues = DBClickKeyValues.toString();
                    DBClickKeyValues = DBClickKeyValues.split(',');
                    for (var i = 0; i != DBClickKeyValues.length; i++) {
                      var key = DBClickKeyValues[i].split('=')[0];
                      var value = DBClickKeyValues[i].split('=')[1];
                      if (typeof value != 'undefined') {
                        if (value.indexOf('-') !== -1) {
                          value = value.split('-');
                          value = value[value.length - 1];
                        }
                      } googletag.cmd.push(function () {
                        googletag.pubads().setTargeting(key, [value]);
                      });
                    }
                  }
                  window.DBClickRefresh = function () {
                    googletag.cmd.push(function () {
                      googletag.pubads().refresh();
                    });
                  };
                  (function () {
                    function getCookie(n) { var c = document.cookie.match(new RegExp('(^|;)\\s*' + escape(n) + '=([^;\\s]*)')); return (c ? unescape(c[2]) : null); }
                    googletag.cmd.push(function () {
                      googletag.pubads().setTargeting('user', [((getCookie('FIFACom')) ? 'loggedin' : 'notloggedin')]);
                      var adUnit = '';
                      if (!adUnit) {
                        adUnit = window.location.pathname.split('/').slice(0, -1).join('/');
                      }
                      window.advList = window.advList || {};
                      window.advList['gpt-fi-adv-inpage-45776d0c-ce35-4ec3-b1f9-91a9d3d46b5c'] = {
                        adUnit: '/8584/fifa.com' + adUnit,
                        adSize: 'leaderboard'
                      };
                      window.gTag = true;
                    });
                  })();
                })();

              </script>
            </div> -->
            
          </div>
          <div class="col-xs-12 fi-list__btn fi-navigation">
            <a role="navigation" class="fi-btn" data-page="2" data-skip="20" onclick="require('paginate').init(event,this, '.fi-newslist');">
              <span class="fi-btn__label">Next posts</span>
            </a>
            <div class="fi-btn__progress">
              <div class="percent"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>