.fi-newslist .d3-o-media-object__title{
    color: #000
}

.header-wrap {
    .title-wrap .title {
        text-transform: uppercase;
        font-size: 54px;
        line-height: 1.3;
        font-family: "dusha_plusregular";
        margin-bottom: 30px;
        padding-top: 25px;
        color: #2e2e2e;
    }
}