<app-header>
</app-header>
<div id="content-wrap">
  <div class="container">
    <div class="page-share hidden-print">
      <div class="header-share">
        <div class="header-listchannel">
          <span class="header-share-title">Follow us on</span>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://twitter.com/fifaworldcup" target="_blank" class="ico-24-twitter-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/fifaworldcup" target="_blank" class="ico-24-facebook-g"> </a>
            </li>
            <li class="social-item">
              <a href="http://instagram.com/fifaworldcup" target="_blank" class="ico-24-instagram-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.youtube.com/FIFATV" target="_blank" class="ico-24-youtube-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/company/fifa" target="_blank" class="ico-24-linkedin-g"> </a>
            </li>
          </ul>
        </div>
        <div class="header-sharebtn">
          <div class="sharebtn-wrap">
            <a href="#" data-share-type="page">
              <span>Share</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-wrap ">
      <div class="title-wrap">
        <h1 class="title">Teams </h1>
      </div>
    </div>
    <div class="row row-first">
      <div id="teammap">
        <div class="col-xs-12 clear-grid ">
          <div class="module fwc2018">
            <div class="inner">
              <div class="team-map" data-require="teams">
                <a class="map-item" id="ARG" data-idgroup="" title="Argentina" href="team%3d43922/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">ARG</span>
                  <span class="map-item-webname">Argentina</span>
                </a>
                <a class="map-item" id="AUS" data-idgroup="" title="Australia" href="team%3d43976/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">AUS</span>
                  <span class="map-item-webname">Australia</span>
                </a>
                <a class="map-item" id="BEL" data-idgroup="" title="Belgium" href="team%3d43935/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">BEL</span>
                  <span class="map-item-webname">Belgium</span>
                </a>
                <a class="map-item" id="BRA" data-idgroup="" title="Brazil" href="team%3d43924/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">BRA</span>
                  <span class="map-item-webname">Brazil</span>
                </a>
                <a class="map-item" id="COL" data-idgroup="" title="Colombia" href="team%3d43926/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">COL</span>
                  <span class="map-item-webname">Colombia</span>
                </a>
                <a class="map-item" id="CRC" data-idgroup="" title="Costa Rica" href="team%3d43901/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">CRC</span>
                  <span class="map-item-webname">Costa Rica</span>
                </a>
                <a class="map-item" id="CRO" data-idgroup="" title="Croatia" href="team%3d43938/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">CRO</span>
                  <span class="map-item-webname">Croatia</span>
                </a>
                <a class="map-item" id="DEN" data-idgroup="" title="Denmark" href="team%3d43941/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">DEN</span>
                  <span class="map-item-webname">Denmark</span>
                </a>
                <a class="map-item" id="EGY" data-idgroup="" title="Egypt" href="team%3d43855/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">EGY</span>
                  <span class="map-item-webname">Egypt</span>
                </a>
                <a class="map-item" id="ENG" data-idgroup="" title="England" href="team%3d43942/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">ENG</span>
                  <span class="map-item-webname">England</span>
                </a>
                <a class="map-item" id="FRA" data-idgroup="" title="France" href="team%3d43946/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">FRA</span>
                  <span class="map-item-webname">France</span>
                </a>
                <a class="map-item" id="GER" data-idgroup="" title="Germany" href="team%3d43948/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">GER</span>
                  <span class="map-item-webname">Germany</span>
                </a>
                <a class="map-item" id="ISL" data-idgroup="" title="Iceland" href="team%3d43951/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">ISL</span>
                  <span class="map-item-webname">Iceland</span>
                </a>
                <a class="map-item" id="IRN" data-idgroup="" title="IR Iran" href="team%3d43817/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">IRN</span>
                  <span class="map-item-webname">IR Iran</span>
                </a>
                <a class="map-item" id="JPN" data-idgroup="" title="Japan" href="team%3d43819/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">JPN</span>
                  <span class="map-item-webname">Japan</span>
                </a>
                <a class="map-item" id="KOR" data-idgroup="" title="Korea Republic" href="team%3d43822/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">KOR</span>
                  <span class="map-item-webname">Korea Republic</span>
                </a>
                <a class="map-item" id="MEX" data-idgroup="" title="Mexico" href="team%3d43911/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">MEX</span>
                  <span class="map-item-webname">Mexico</span>
                </a>
                <a class="map-item" id="MAR" data-idgroup="" title="Morocco" href="team%3d43872/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">MAR</span>
                  <span class="map-item-webname">Morocco</span>
                </a>
                <a class="map-item" id="NGA" data-idgroup="" title="Nigeria" href="team%3d43876/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">NGA</span>
                  <span class="map-item-webname">Nigeria</span>
                </a>
                <a class="map-item" id="PAN" data-idgroup="" title="Panama" href="team%3d43914/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">PAN</span>
                  <span class="map-item-webname">Panama</span>
                </a>
                <a class="map-item" id="PER" data-idgroup="" title="Peru" href="team%3d43929/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">PER</span>
                  <span class="map-item-webname">Peru</span>
                </a>
                <a class="map-item" id="POL" data-idgroup="" title="Poland" href="team%3d43962/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">POL</span>
                  <span class="map-item-webname">Poland</span>
                </a>
                <a class="map-item" id="POR" data-idgroup="" title="Portugal" href="team%3d43963/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">POR</span>
                  <span class="map-item-webname">Portugal</span>
                </a>
                <a class="map-item" id="RUS" data-idgroup="" title="Russia" href="team%3d43965/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">RUS</span>
                  <span class="map-item-webname">Russia</span>
                </a>
                <a class="map-item" id="KSA" data-idgroup="" title="Saudi Arabia" href="team%3d43835/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">KSA</span>
                  <span class="map-item-webname">Saudi Arabia</span>
                </a>
                <a class="map-item" id="SEN" data-idgroup="" title="Senegal" href="team%3d43879/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">SEN</span>
                  <span class="map-item-webname">Senegal</span>
                </a>
                <a class="map-item" id="SRB" data-idgroup="" title="Serbia" href="team%3d1902465/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">SRB</span>
                  <span class="map-item-webname">Serbia</span>
                </a>
                <a class="map-item" id="ESP" data-idgroup="" title="Spain" href="team%3d43969/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">ESP</span>
                  <span class="map-item-webname">Spain</span>
                </a>
                <a class="map-item" id="SWE" data-idgroup="" title="Sweden" href="team%3d43970/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">SWE</span>
                  <span class="map-item-webname">Sweden</span>
                </a>
                <a class="map-item" id="SUI" data-idgroup="" title="Switzerland" href="team%3d43971/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">SUI</span>
                  <span class="map-item-webname">Switzerland</span>
                </a>
                <a class="map-item" id="TUN" data-idgroup="" title="Tunisia" href="team%3d43888/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">TUN</span>
                  <span class="map-item-webname">Tunisia</span>
                </a>
                <a class="map-item" id="URU" data-idgroup="" title="Uruguay" href="team%3d43930/index.html">
                  <span class="map-item-icon"> </span>
                  <span class="map-item-countrycode">URU</span>
                  <span class="map-item-webname">Uruguay</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 clear-grid ">
          <div class="adv-lb-wrap">
            <script type="text/javascript">
              var googletag = googletag || {}; googletag.cmd = googletag.cmd || []; (function () { var gscript = document.getElementById('google_adv_include'); if (gscript) { return; } var gads = document.createElement('script'); gads.id = 'google_adv_include'; gads.async = true; gads.type = 'text/javascript'; var useSSL = 'https:' == document.location.protocol; gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js'; var node = document.getElementsByTagName('script')[0]; node.parentNode.insertBefore(gads, node); })();
              (function () {
                if (window.gTag) { return; } googletag.cmd.push(function () { googletag.pubads().setTargeting('site', ['en']) });
                (function () {
                  var DBClickKeyValues = document.location.pathname.match(/[^/]*=[^/|^\.]*/gi); if (DBClickKeyValues != null) { DBClickKeyValues = DBClickKeyValues.toString(); DBClickKeyValues = DBClickKeyValues.split(','); for (var i = 0; i != DBClickKeyValues.length; i++) { var key = DBClickKeyValues[i].split('=')[0]; var value = DBClickKeyValues[i].split('=')[1]; if (typeof value != 'undefined') { if (value.indexOf('-') != -1) { value = value.split('-'); value = value[value.length - 1]; } } googletag.cmd.push(function () { googletag.pubads().setTargeting(key, [value]); }); } }
                  window.DBClickRefresh = function () { googletag.cmd.push(function () { googletag.pubads().refresh(); }); };
                })(); (function () { function getCookie(n) { var c = document.cookie.match(new RegExp('(^|;)\\s*' + escape(n) + '=([^;\\s]*)')); return (c ? unescape(c[2]) : null); } googletag.cmd.push(function () { googletag.pubads().setTargeting('user', [((getCookie('FIFACom')) ? 'loggedin' : 'notloggedin')]); }); })(); googletag.cmd.push(function () { googletag.display('div-gpt-ad-ed64c29c-1855-42e5-8dc1-c00a273361c0'); googletag.enableServices(); window.gTag = true; });
              })();

              amc.on('tagload.scbase', function () {
                var s = window.s; var adUnit = s.pageName.replace(/ [^:]*/g, ""); adUnit = adUnit.split(':'); adUnit.splice(-1, 1); if (adUnit.length > 4) { adUnit.reverse(); adUnit.splice(0, adUnit.length - 4); adUnit.reverse(); } adUnit = adUnit.join('../../index.html'); if (adUnit.length != 0) { adUnit = '/' + adUnit; } wfa = window.fifa.analytics;
                if (!!window.fifa && !!window.fifa.analytics) {
                  wfa = window.fifa.analytics;
                  wfaover = wfa.advoverride;
                  if (!!wfaover) {
                    if (!!wfaover.adunit) {
                      adUnit = wfaover.adunit;
                    }
                  }
                } googletag.cmd.push(function () {
                  googletag.defineSlot('/8584/fifa.com' + adUnit, [728, 90], 'div-gpt-ad-ed64c29c-1855-42e5-8dc1-c00a273361c0')
                    .addService(googletag.pubads());
                });
              });
            </script>
            <div id="div-gpt-ad-ed64c29c-1855-42e5-8dc1-c00a273361c0" class="adv not-loaded adv-lb" style="width:728px;height:90px;margin:0 auto;">
              <script type="text/javascript">
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div id="hostcountry">
        <div class="header-wrap ">
          <div class="title-wrap">
            <h2 class="title">
              <span>Host Country</span>
            </h2>
          </div>
        </div>
        <div class="col-xs-12 clear-grid ">
          <div class="team-hostcountry" data-require="teams">
            <div class="hostcountry-logo">
              <a href="team%3d43965/index.html">
                <img src="../../assets/images/rus.gif" alt="Russia" title="Russia" />
              </a>
            </div>
            <div class="t">
              <a href="team%3d43965/index.html">
                <div class="t-i i-3">
                  <img title="Russia" class="RUS i-3-flag flag" alt="Russia" src="../../assets/images/rus.png" />
                </div>
                <div class="t-n">
                  <span class="t-nText">Russia (RUS)
                  </span>
                </div>
              </a>
            </div>
            <div class="hostcountry-caption">As hosts of the 2018 FIFA World Cup™, Russia
              <strong>have automatically qualified</strong> for the tournament.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div id="roadtocontainer">
        <div class="header-wrap ">
          <div class="title-wrap">
            <h2 class="title">
              <span>Road to Russia</span>
            </h2>
          </div>
        </div>
        <div class="col-xs-12 clear-grid ">
          <div class="qlinkbanner-wrap qualifiers-zone-list">
            <ul class="qlinkbanner-list ">
              <li class="qlink-link first ">
                <img src="../../assets/images/africa.jpg" alt="Africa" />
                <span class="item">Africa</span>
              </li>
              <li class="qlink-link ">
                <img src="../../assets/images/asia.jpg" alt="Asia" />
                <span class="item">Asia</span>
              </li>
              <li class="qlink-link ">
                <img src="../../assets/images/europe.jpg" alt="Europe" />
                <span class="item">Europe</span>
              </li>
              <li class="qlink-link ">
                <img src="../../assets/images/ncamerica.jpg" alt="North, Central America and Caribbean"
                />
                <span class="item">North, Central America and Caribbean</span>
              </li>
              <li class="qlink-link ">
                <img src="../../assets/images/oceania.jpg" alt="Oceania" />
                <span class="item">Oceania</span>
              </li>
              <li class="qlink-link last ">
                <img src="../../assets/images/southamerica.jpg" alt="South America" />
                <span class="item">South America</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2 clear-grid ">
          <div class="roadto africa">
            <span class="frwp-debug hidden">articleBodyFRWP</span>
            <span class="frwp-debug hidden">SeoTitle: </span>
            <span class="frwp-debug hidden">GetFRWPSlug error: Object reference not set to an instance of an object. at fifa.com.code.editorial.article.GetFRWPSlug()</span>
            <span class="frwp-debug hidden">GetFRWPUrl _slug: </span>
            <span class="frwp-debug hidden">endpoint: http://embeden.fifa.com/news/?appview=true</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length: 0</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length atricle only: 0</span>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="roadto asia">
            <span class="frwp-debug hidden">articleBodyFRWP</span>
            <span class="frwp-debug hidden">SeoTitle: </span>
            <span class="frwp-debug hidden">GetFRWPSlug error: Object reference not set to an instance of an object. at fifa.com.code.editorial.article.GetFRWPSlug()</span>
            <span class="frwp-debug hidden">GetFRWPUrl _slug: </span>
            <span class="frwp-debug hidden">endpoint: http://embeden.fifa.com/news/?appview=true</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length: 0</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length atricle only: 0</span>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="roadto europe">
            <span class="frwp-debug hidden">articleBodyFRWP</span>
            <span class="frwp-debug hidden">SeoTitle: </span>
            <span class="frwp-debug hidden">GetFRWPSlug error: Object reference not set to an instance of an object. at fifa.com.code.editorial.article.GetFRWPSlug()</span>
            <span class="frwp-debug hidden">GetFRWPUrl _slug: </span>
            <span class="frwp-debug hidden">endpoint: http://embeden.fifa.com/news/?appview=true</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length: 0</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length atricle only: 0</span>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="roadto nccamerica">
            <span class="frwp-debug hidden">articleBodyFRWP</span>
            <span class="frwp-debug hidden">SeoTitle: </span>
            <span class="frwp-debug hidden">GetFRWPSlug error: Object reference not set to an instance of an object. at fifa.com.code.editorial.article.GetFRWPSlug()</span>
            <span class="frwp-debug hidden">GetFRWPUrl _slug: </span>
            <span class="frwp-debug hidden">endpoint: http://embeden.fifa.com/news/?appview=true</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length: 0</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length atricle only: 0</span>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="roadto oceania">
            <span class="frwp-debug hidden">articleBodyFRWP</span>
            <span class="frwp-debug hidden">SeoTitle: </span>
            <span class="frwp-debug hidden">GetFRWPSlug error: Object reference not set to an instance of an object. at fifa.com.code.editorial.article.GetFRWPSlug()</span>
            <span class="frwp-debug hidden">GetFRWPUrl _slug: </span>
            <span class="frwp-debug hidden">endpoint: http://embeden.fifa.com/news/?appview=true</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length: 0</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length atricle only: 0</span>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="roadto southamerica">
            <span class="frwp-debug hidden">articleBodyFRWP</span>
            <span class="frwp-debug hidden">SeoTitle: </span>
            <span class="frwp-debug hidden">GetFRWPSlug error: Object reference not set to an instance of an object. at fifa.com.code.editorial.article.GetFRWPSlug()</span>
            <span class="frwp-debug hidden">GetFRWPUrl _slug: </span>
            <span class="frwp-debug hidden">endpoint: http://embeden.fifa.com/news/?appview=true</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length: 0</span>
            <span class="frwp-debug hidden">_articleBodyFRWP.Length atricle only: 0</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-last">
      <div id="qualifiedteamscontainer">
        <div class="col-xs-2 clear-grid ">
          <div class="team-qualifiedteams">
            <h4 class="title">Qualified teams (5)</h4>
            <ul>
              <li>
                <a href="team%3d43855/index.html" class="team">
                  <img alt="Egypt" title="Egypt" class="flag" src="../../assets/images/egy.png" />
                  <span class="team-name">Egypt</span>
                </a>
              </li>
              <li>
                <a href="team%3d43872/index.html" class="team">
                  <img alt="Morocco" title="Morocco" class="flag" src="../../assets/images/mar.png" />
                  <span class="team-name">Morocco</span>
                </a>
              </li>
              <li>
                <a href="team%3d43876/index.html" class="team">
                  <img alt="Nigeria" title="Nigeria" class="flag" src="../../assets/images/nga.png" />
                  <span class="team-name">Nigeria</span>
                </a>
              </li>
              <li>
                <a href="team%3d43879/index.html" class="team">
                  <img alt="Senegal" title="Senegal" class="flag" src="../../assets/images/sen.png" />
                  <span class="team-name">Senegal</span>
                </a>
              </li>
              <li>
                <a href="team%3d43888/index.html" class="team">
                  <img alt="Tunisia" title="Tunisia" class="flag" src="../../assets/images/tun.png" />
                  <span class="team-name">Tunisia</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="team-qualifiedteams">
            <h4 class="title">Qualified teams (5)</h4>
            <ul>
              <li>
                <a href="team%3d43976/index.html" class="team">
                  <img alt="Australia" title="Australia" class="flag" src="../../assets/images/aus.png" />
                  <span class="team-name">Australia</span>
                </a>
              </li>
              <li>
                <a href="team%3d43817/index.html" class="team">
                  <img alt="IR Iran" title="IR Iran" class="flag" src="../../assets/images/irn.png" />
                  <span class="team-name">IR Iran</span>
                </a>
              </li>
              <li>
                <a href="team%3d43819/index.html" class="team">
                  <img alt="Japan" title="Japan" class="flag" src="../../assets/images/jpn.png" />
                  <span class="team-name">Japan</span>
                </a>
              </li>
              <li>
                <a href="team%3d43822/index.html" class="team">
                  <img alt="Korea Republic" title="Korea Republic" class="flag" src="../../assets/images/kor.png" />
                  <span class="team-name">Korea Republic</span>
                </a>
              </li>
              <li>
                <a href="team%3d43835/index.html" class="team">
                  <img alt="Saudi Arabia" title="Saudi Arabia" class="flag" src="../../assets/images/ksa.png" />
                  <span class="team-name">Saudi Arabia</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="team-qualifiedteams">
            <h4 class="title">Qualified teams (14)</h4>
            <ul>
              <li>
                <a href="team%3d43935/index.html" class="team">
                  <img alt="Belgium" title="Belgium" class="flag" src="../../assets/images/bel.png" />
                  <span class="team-name">Belgium</span>
                </a>
              </li>
              <li>
                <a href="team%3d43938/index.html" class="team">
                  <img alt="Croatia" title="Croatia" class="flag" src="../../assets/images/cro.png" />
                  <span class="team-name">Croatia</span>
                </a>
              </li>
              <li>
                <a href="team%3d43941/index.html" class="team">
                  <img alt="Denmark" title="Denmark" class="flag" src="../../assets/images/den.png" />
                  <span class="team-name">Denmark</span>
                </a>
              </li>
              <li>
                <a href="team%3d43942/index.html" class="team">
                  <img alt="England" title="England" class="flag" src="../../assets/images/eng.png" />
                  <span class="team-name">England</span>
                </a>
              </li>
              <li>
                <a href="team%3d43946/index.html" class="team">
                  <img alt="France" title="France" class="flag" src="../../assets/images/fra.png" />
                  <span class="team-name">France</span>
                </a>
              </li>
              <li>
                <a href="team%3d43948/index.html" class="team">
                  <img alt="Germany" title="Germany" class="flag" src="../../assets/images/ger.png" />
                  <span class="team-name">Germany</span>
                </a>
              </li>
              <li>
                <a href="team%3d43951/index.html" class="team">
                  <img alt="Iceland" title="Iceland" class="flag" src="../../assets/images/isl.png" />
                  <span class="team-name">Iceland</span>
                </a>
              </li>
              <li>
                <a href="team%3d43962/index.html" class="team">
                  <img alt="Poland" title="Poland" class="flag" src="../../assets/images/pol.png" />
                  <span class="team-name">Poland</span>
                </a>
              </li>
              <li>
                <a href="team%3d43963/index.html" class="team">
                  <img alt="Portugal" title="Portugal" class="flag" src="../../assets/images/por.png" />
                  <span class="team-name">Portugal</span>
                </a>
              </li>
              <li>
                <a href="team%3d43965/index.html" class="team">
                  <img alt="Russia" title="Russia" class="flag" src="../../assets/images/rus.png" />
                  <span class="team-name">Russia</span>
                </a>
              </li>
              <li>
                <a href="team%3d1902465/index.html" class="team">
                  <img alt="Serbia" title="Serbia" class="flag" src="../../assets/images/srb.png" />
                  <span class="team-name">Serbia</span>
                </a>
              </li>
              <li>
                <a href="team%3d43969/index.html" class="team">
                  <img alt="Spain" title="Spain" class="flag" src="../../assets/images/esp.png" />
                  <span class="team-name">Spain</span>
                </a>
              </li>
              <li>
                <a href="team%3d43970/index.html" class="team">
                  <img alt="Sweden" title="Sweden" class="flag" src="../../assets/images/swe.png" />
                  <span class="team-name">Sweden</span>
                </a>
              </li>
              <li>
                <a href="team%3d43971/index.html" class="team">
                  <img alt="Switzerland" title="Switzerland" class="flag" src="../../assets/images/sui.png" />
                  <span class="team-name">Switzerland</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="team-qualifiedteams">
            <h4 class="title">Qualified teams (3)</h4>
            <ul>
              <li>
                <a href="team%3d43901/index.html" class="team">
                  <img alt="Costa Rica" title="Costa Rica" class="flag" src="../../assets/images/crc.png" />
                  <span class="team-name">Costa Rica</span>
                </a>
              </li>
              <li>
                <a href="team%3d43911/index.html" class="team">
                  <img alt="Mexico" title="Mexico" class="flag" src="../../assets/images/mex.png" />
                  <span class="team-name">Mexico</span>
                </a>
              </li>
              <li>
                <a href="team%3d43914/index.html" class="team">
                  <img alt="Panama" title="Panama" class="flag" src="../../assets/images/pan.png" />
                  <span class="team-name">Panama</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="team-qualifiedteams nodata"> </div>
        </div>
        <div class="col-xs-2">
          <div class="team-qualifiedteams">
            <h4 class="title">Qualified teams (5)</h4>
            <ul>
              <li>
                <a href="team%3d43922/index.html" class="team">
                  <img alt="Argentina" title="Argentina" class="flag" src="../../assets/images/arg.png" />
                  <span class="team-name">Argentina</span>
                </a>
              </li>
              <li>
                <a href="team%3d43924/index.html" class="team">
                  <img alt="Brazil" title="Brazil" class="flag" src="../../assets/images/bra.png" />
                  <span class="team-name">Brazil</span>
                </a>
              </li>
              <li>
                <a href="team%3d43926/index.html" class="team">
                  <img alt="Colombia" title="Colombia" class="flag" src="../../assets/images/col.png" />
                  <span class="team-name">Colombia</span>
                </a>
              </li>
              <li>
                <a href="team%3d43929/index.html" class="team">
                  <img alt="Peru" title="Peru" class="flag" src="../../assets/images/per.png" />
                  <span class="team-name">Peru</span>
                </a>
              </li>
              <li>
                <a href="team%3d43930/index.html" class="team">
                  <img alt="Uruguay" title="Uruguay" class="flag" src="../../assets/images/uru.png" />
                  <span class="team-name">Uruguay</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-1></app-footer-1>