/* You can add global styles to this file, and also import other style files */

.ac-footer-2 {
    .fi-site-footer__language .fi-footer__language {
        padding: 0
    }
    .sitef-copyright {
        padding: 8px 0;
        color: #8097b9;
        font-size: 13px;
        line-height: 20px;
        display: inline-block;
        zoom: 1;
    }
    .row {
        margin-bottom: 0
    }
    .mg-t-30 {
        margin-top: 30px;
    }
}

.ac_list-style{
    li{
        list-style: disc
    }
}