<app-header>
</app-header>
<div id="content-wrap">
  <div class="container">
    <div class="page-share hidden-print">
      <div class="header-share">
        <div class="header-listchannel">
          <span class="header-share-title">Follow us on</span>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://twitter.com/fifaworldcup" target="_blank" class="ico-24-twitter-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/fifaworldcup" target="_blank" class="ico-24-facebook-g"> </a>
            </li>
            <li class="social-item">
              <a href="http://instagram.com/fifaworldcup" target="_blank" class="ico-24-instagram-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.youtube.com/FIFATV" target="_blank" class="ico-24-youtube-g"> </a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/company/fifa" target="_blank" class="ico-24-linkedin-g"> </a>
            </li>
          </ul>
        </div>
        <div class="header-sharebtn">
          <div class="sharebtn-wrap">
            <a href="#" data-share-type="page">
              <span>Share</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-wrap ">
      <div class="title-wrap">
        <h1 class="title">
          <span [hidden]="index > 1">Video</span>
          <span [hidden]="index < 2">All Video</span>
        </h1>
      </div>
    </div>
    <div class="row row-first">
      <div class="header-wrap"[hidden]="index > 1">
        <div class="title-wrap">
          <h2 class="title">
            <span>Latest Videos</span>
          </h2>
        </div>
      </div>
      <div class="col-xs-12 clear-grid">
        <div class="dcm-list thumblist-lnd-3 grid-view list-videos ">
          <ul class="dcm-thumblist vertical">
            <li class="dcm-thumblist-item" *ngFor="let item of video_4Item" xmlns:cfg="urn:cfg.fifaExtension.com">
              <!--2944622-->
              <div class="ph-lnd-3 figure i-wrap ">
                <a class="dcm-internal" target="_self" href="y%3d2018/m%3d4/video%3d49-days-to-go-costa-rica-mark-their-mark.html">
                  <img alt="49 DAYS TO GO! Costa Rica make their mark" title="49 DAYS TO GO! Costa Rica make their mark" [src]="item.image"
                    class="i-lnd-3" ph-data-picture-index="1" ph-data-picture-id="2944622" ph-data-picture-copyright="YouTube"
                    ph-data-picture-title="49 DAYS TO GO! Costa Rica make their mark" ph-data-picture-date="Thursday, 26 April 2018"
                    ph-data-picture-comment="Upon taking their opening bow at the FIFA World Cup™ at Italy 1990, it took Costa Rica 49 minutes to open their account, with a slick move against Scotland being converted by Juan Cayasso to secure victory."
                    ph-data-picture-orientation="landscape" ph-data-picture-url="//img.fifa.com/image/upload/t_l3/y1zvfop5kw4gnr96f67h.jpg"
                    ph-data-picture-sizewidth="" ph-data-picture-sizeheight="" />
                  <span class="dcm-icoFrame dcm-ico-videos">
                    <span class="dcm-ico"> </span>
                  </span>
                </a>
              </div>
              <h4 class="dcm-title">
                <a href="y%3d2018/m%3d4/video%3d49-days-to-go-costa-rica-mark-their-mark.html">{{item.title}}</a>
              </h4>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 clear-grid"[hidden]="index > 1">
        <div class="dcm-list thumblist-sqr-1 grid-view list-videos ">
          <ul class="dcm-thumblist inline-col4">
            <li class="dcm-thumblist-item" *ngFor="let item of video_6Item" xmlns:cfg="urn:cfg.fifaExtension.com">
              <!--2940185-->
              <div class="ph-sqr-1 figure i-wrap ">
                <a class="dcm-internal" target="_self" href="y%3d2018/m%3d4/video%3d53-days-to-go-super-sanchez.html">
                  <img alt="53 DAYS TO GO! Super Sanchez" title="53 DAYS TO GO! Super Sanchez" [src]="item.image" class="i-sqr-1" ph-data-picture-index="1"
                    ph-data-picture-id="2940185" ph-data-picture-copyright="YouTube" ph-data-picture-title="53 DAYS TO GO! Super Sanchez"
                    ph-data-picture-date="Sunday, 22 April 2018" ph-data-picture-comment="There have been 53 FIFA World Cup™ matches played by players with the surname Sanchez. Chile's Leonel won the adidas Golden Boot in 1962, while Mexico's Hugo appeared at three tournaments."
                    ph-data-picture-orientation="portrait" ph-data-picture-url="//img.fifa.com/image/upload/t_p3/yjbbtra6ejxesari1iqr.jpg"
                    ph-data-picture-sizewidth="" ph-data-picture-sizeheight="" />
                  <span class="dcm-icoFrame dcm-ico-videos">
                    <span class="dcm-ico"> </span>
                  </span>
                </a>
              </div>
              <div class="dcm-thumblist-title">
                <h4 class="dcm-title">
                  <a href="y%3d2018/m%3d4/video%3d53-days-to-go-super-sanchez.html">{{item.title}}</a>
                </h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 clear-grid" [hidden]="index > 1">
        <div class="qlink-wrap ">
          <ul class="qlink-list">
            <li class="qlink-link last" (click)="click_moreVideos()" [attr.data-page]="index">
              <div class="qlink-link-wrap">
                <a>
                  <span class="item">More Videos</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 fi-list__btn fi-navigation" [hidden]="index < 2">
          <a role="navigation" class="fi-btn" [attr.data-page]="index" (click)="clickNextVideosPage()" [hidden]="end_page == index">
            <span class="fi-btn__label">Next posts</span>
          </a>
      </div>
    </div>
    <div class="row row-last">
      <div class="header-wrap ">
        <div class="title-wrap">
          <h2 class="title">
            <span>Previous FIFA World Cups™</span>
          </h2>
        </div>
      </div>
      <div class="col-xs-12 clear-grid ">
        <div class="dcm-list thumblist-lnd-4 grid-view list-videos ">
          <ul class="dcm-thumblist vertical">
            <li class="dcm-thumblist-item" xmlns:cfg="urn:cfg.fifaExtension.com">
              <!--2940081-->
              <div class="ph-lnd-4 figure i-wrap ">
                <a class="dcm-internal" target="_self" href="y%3d2018/m%3d4/video%3djapan-0-0-greece-brazil-2014.html">
                  <img alt="Japan 0-0 Greece (Brazil 2014)" title="Japan 0-0 Greece (Brazil 2014)" src="../../assets/images/2018-FIFA-World-Cup-Logo-Vector.png"
                    class="i-lnd-4" ph-data-picture-index="1" ph-data-picture-id="2940081" ph-data-picture-copyright="YouTube"
                    ph-data-picture-title="Japan 0-0 Greece (Brazil 2014)" ph-data-picture-date="Saturday, 21 April 2018" ph-data-picture-comment="Greece survived the dismissal of captain Konstantinos Katsouranis to eke out a goalless draw with Japan that keeps both teams in with a chance of progressing."
                    ph-data-picture-orientation="portrait" ph-data-picture-url="//img.fifa.com/image/upload/t_p3/uufjdo5afhxcvbu8o0is.jpg"
                    ph-data-picture-sizewidth="" ph-data-picture-sizeheight="" />
                  <span class="dcm-icoFrame dcm-ico-videos">
                    <span class="dcm-ico"> </span>
                  </span>
                </a>
              </div>
              <h4 class="dcm-title">
                <a href="y%3d2018/m%3d4/video%3djapan-0-0-greece-brazil-2014.html">Japan 0-0 Greece (Brazil 2014)</a>
              </h4>
            </li>
            <li class="dcm-thumblist-item" xmlns:cfg="urn:cfg.fifaExtension.com">
              <!--2940080-->
              <div class="ph-lnd-4 figure i-wrap ">
                <a class="dcm-internal" target="_self" href="y%3d2018/m%3d4/video%3dcolombia-2-1-cote-d-ivoire-brazil-2014.html">
                  <img alt="Colombia 2-1 Côte d'Ivoire (Brazil 2014)" title="Colombia 2-1 Côte d'Ivoire (Brazil 2014)" src="../../assets/images/2018-FIFA-World-Cup-Logo-Vector.png"
                    class="i-lnd-4" ph-data-picture-index="2" ph-data-picture-id="2940080" ph-data-picture-copyright="YouTube"
                    ph-data-picture-title="Colombia 2-1 Côte d'Ivoire (Brazil 2014)" ph-data-picture-date="Saturday, 21 April 2018"
                    ph-data-picture-comment="Goals from James Rodriguez and Juan Quintero helped Colombia to a 2-1 win over Côte d'Ivoire with the result, combined with a stalemate between Greece and Japan, pushing Los Cafeteros into the knockout stage for the first time in 24 years."
                    ph-data-picture-orientation="portrait" ph-data-picture-url="//img.fifa.com/image/upload/t_p3/tvjjjwwqp36envxkrdbn.jpg"
                    ph-data-picture-sizewidth="" ph-data-picture-sizeheight="" />
                  <span class="dcm-icoFrame dcm-ico-videos">
                    <span class="dcm-ico"> </span>
                  </span>
                </a>
              </div>
              <h4 class="dcm-title">
                <a href="y%3d2018/m%3d4/video%3dcolombia-2-1-cote-d-ivoire-brazil-2014.html">Colombia 2-1 C&#244;te d&#39;Ivoire (Brazil 2014)</a>
              </h4>
            </li>
            <li class="dcm-thumblist-item" xmlns:cfg="urn:cfg.fifaExtension.com">
              <!--2940075-->
              <div class="ph-lnd-4 figure i-wrap ">
                <a class="dcm-internal" target="_self" href="y%3d2018/m%3d4/video%3dhonduras-0-3-switzerland-brazil-2014.html">
                  <img alt="Honduras 0-3 Switzerland (Brazil 2014)" title="Honduras 0-3 Switzerland (Brazil 2014)" src="../../assets/images/2018-FIFA-World-Cup-Logo-Vector.png"
                    class="i-lnd-4" ph-data-picture-index="3" ph-data-picture-id="2940075" ph-data-picture-copyright="YouTube"
                    ph-data-picture-title="Honduras 0-3 Switzerland (Brazil 2014)" ph-data-picture-date="Saturday, 21 April 2018"
                    ph-data-picture-comment="Switzerland will face Argentina in the last 16 at Brazil 2014 after a Xherdan Shaqiri hat-trick secured a 3-0 win over Honduras and second place in Group E."
                    ph-data-picture-orientation="portrait" ph-data-picture-url="//img.fifa.com/image/upload/t_p3/qbehhfrkab98belwwt0c.jpg"
                    ph-data-picture-sizewidth="" ph-data-picture-sizeheight="" />
                  <span class="dcm-icoFrame dcm-ico-videos">
                    <span class="dcm-ico"> </span>
                  </span>
                </a>
              </div>
              <h4 class="dcm-title">
                <a href="y%3d2018/m%3d4/video%3dhonduras-0-3-switzerland-brazil-2014.html">Honduras 0-3 Switzerland (Brazil 2014)</a>
              </h4>
            </li>
          </ul>
          <div class="qlink-wrap">
            <ul class="qlink-list">
              <li class="qlink-link last" >
                <div class="qlink-link-wrap">
                  <a>
                    <span class="item">Previous FIFA World Cups™</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer1></app-footer1>